{% extends 'cdr/index.html' %}
    {% block content %}
        <main class="main">

        <div class="container-fluid">

            <div class="animated fadeIn">
                <div>
                    <router-view></router-view>
                </div>
                <div>
                    {% include 'cdr/stats_bar.html' %}
                </div>
            </div>
        </div>

    </main>
    {% endblock %}