.settings-main{
  height: 100%;
}
.settings-menu{
  height: 100%;
  padding: 2% 1% 2% 2%;
}
.settings-content{
  height: 100%;
  padding: 2% 2% 2% 0;
  .tab-content{
    background: transparent;
    border: none;
    height: 100%;
  }

}
.setting-title{
  text-align: center;
  padding: 3% 0;
}
.settings-tabs{
  padding: 0;
  ul li{
    width: 100%;
    box-shadow:inset 0 0 2px #555;
  }
  .nav-tabs {
    border: none;
  }
}
.menu-holder{
  height: 100%;
}
.theme-image{
  text-align: center;
  .image-holder{
    padding: 1% 0 1% 0;
    img{
      height: 120px;
      border: solid #f5f5f5 1px;
    }
  }
}
.theme-name, .theme-selector{
  text-align: center;
  padding-top: 4%;
}

//heatmap

  .graph-label{
    color: #000000 !important;
    fill: #000000 !important;
    font-size: 12px !important;
  }
  .subdomain-text {
    font-size: 10px !important;
    fill: #000000 !important;
}
