<head>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <style>
        * {
            box-sizing: inherit;
        }

        html {
            box-sizing: border-box;
            font-size: 100%;
            height: 100%;
        }

        body {
            background-color: #2c3338;
            color: #606468;
            font-family: 'Open Sans',  sans-serif;
            font-size: 0.875rem;
            font-weight: 400;
            height: 100%;
            line-height: 1.5;
            margin: 0;
            min-height: 100vh;
        }
        .align {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .grid {
            margin-left: auto;
            margin-right: auto;
            max-width: 20rem;
            width:  90%;
        }
        .hidden {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        .icons {
            display: none;
        }

        .icon {
            display: inline-block;
            fill: #606468;
            font-size: 1rem;
            height: 1em;
            vertical-align: middle;
            width: 1em;
        }
        a {
            color: #eee;
            outline: 0;
            text-decoration: none;
        }
        a:focus, a:hover {
            text-decoration: underline;
        }
        .form_field {
            display: flex;
            margin: 0.875rem;
        }
        #error_field {
            color: #B22222;
        }
        label {
            background-color: #363b41;
            border-radius: 0.25rem;
            padding: 1rem;
        }
        .form__input {
            flex: 1;
        }
        input {
            background-image: none;
            background-color: #3b4148;
            border: 0;
            color: #FFFFFF;
            font: inherit;
            margin: 0;
            outline: 0;
            transition: background-color 0.3s;
            width: 100%;
            border-radius: 0.25rem;
            padding: 1rem;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        input:hover, input:focus {
            background-color: #434a52;
        }
        input[type='submit'] {
            cursor: pointer;
            background-color: #B22222;
            color: #EEEEEE;
            font-weight: 700;
            text-transform: uppercase;
        }
        input[type='submit']:focus, input[type='submit']:hover {
          background-color: #B22222;
        }
        p {
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
        }

        .text--center {
            text-align: center;
        }
    </style>
</head>

<body class="align">
    <div class="grid">
        <form method="POST" class="form login" id="login_form">
        {% csrf_token %}
            <div class="form_field" id="error_field">
            </div>
            <div class="form_field">
                <label for="username"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use></svg><span class="hidden">Username</span></label>
                <input type="text" name="username" class="form__input" id="username" placeholder="Username" autocomplete="username" required>
            </div>

            <div class="form_field">
                <label for="password"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg><span class="hidden">Password</span></label>
                <input type="password" name="password" class="form__input" id="password" placeholder="Password" autocomplete="current-password" required>
            </div>

            <div class="form_field">
                <input type="submit" value="Sign In">
            </div>
        </form>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="icons"><symbol id="arrow-right" viewBox="0 0 1792 1792"><path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z"/></symbol><symbol id="lock" viewBox="0 0 1792 1792"><path d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z"/></symbol><symbol id="user" viewBox="0 0 1792 1792"><path d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z"/></symbol></svg>
</body>


<script>
  $("#login_form").on("submit", function(event) {
        event.preventDefault();
        $.post("/rest-auth/login/", $("#login_form").serialize())
            .success(function(data) {
                let token = data["token"];
                document.cookie = 'token='+token+";path=/";
                window.location.href = "/home/";
            })
            .error(function(data) {
                let error_data = data["responseText"];
                let response = JSON.parse(error_data);
                $("#error_field").html(response["non_field_errors"]);
            });
  });
</script>