<template id="details_section">
    <div class="details_wrapper">
             <div class="detail-holder" v-for="item in calls" v-bind:id="item.id">
                <a :href="'#demo'+item.id" class="" data-toggle="collapse" v-bind:style="active_theme.accent_color" >
                    {{ item.callermsisdn }} -> {{ item.calleemsisdn }}
                </a>
                <div :id='"demo"+item.id' class="collapse">
                    <p><b>Date:</b> {{ item.datetime }}</p>
                    <p><b>Duration:</b> {{ item.duration }}</p>
                    <p><b>Callee Lookup</b> {{ item.calleelookup }}</p>
                    <p><b>Caller Lookup</b> {{ item.callerlookup }}</p>
                    <p><b>Caller Imei:</b> {{ item.callerimei }}</p>
                    <p><b>Callee Imei:</b> {{ item.calleeimei }}</p>
                    <p><b>Caller Imsi:</b> {{ item.callerimsi }}</p>
                    <p><b>Base Station ID:</b> {{ item.basestationid }}</p>
                    <p><b>Base Station Pos.</b> {{ item.basestationposition }}</p>
                    <p><b>End Location:</b> {{ item.endlocation }}</p>
                    <p><b>Latitude:</b> {{ item.latitude }}</p>
                    <p><b>Longitude:</b> {{ item.longitude }}</p>
                    <p><b>Record Type:</b> {{ item.recordtype }}</p>
                    <p><b>Roaming VPMN:</b> {{ item.roamingvpmn }}</p>
                    <p><b>Service Type:</b> {{ item.servicetype }}</p>
                    <p><b>Data Source:</b> {{ item.datasource }}</p>
                 </div>
        </div>
    </div>
</template>

<script>
    import { details } from '../index';
     import { mapActions } from 'vuex';

    export default {
        name: 'callDetails',
        data() {
            return {
                theme: {},
                details: [],
                calls: null
            }
        },

        created() {
            details.$on('callDetails', (calls_data) => {
                this.calls = calls_data;
                this.listenToDetailToggle(true);
                this.centralityBarControl(false);
            });

            if(!this.$store.getters.theme)
                 this.$store.dispatch('getActiveTheme');

        },
         computed: {
            active_theme() {
                return this.$store.getters.theme;
            }
        },
        methods: {
             ...mapActions([
                 'listenToThemeChange',
                 'listenToDetailToggle',
                 'centralityBarControl'
             ]),
        }
    }
</script>

<style scoped>
    .detail-holder{
        text-align: center;
        padding: 1%;
        font-size: 14px;
    }
    .detail-holder p{
        text-align: left;
        line-height: 1;
        font-size: 13px;
    }
</style>