<template>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <td></td>
                <td>Number</td>
                <td>Frequency</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in stats.slice(0, 5)">
                <td><i class="fa fa-phone"></i></td>
                <td>{{ item.phone_number }}</td>
                <td>{{ item.frequency }} calls</td>
            </tr>
        </tbody>
    </table>
</template>
<script>
    import { stats } from '../index';

    export default {

        data: function () {
            return{
                stats: [],
            }
        },

        mounted: function() {
            stats.$on('updateCy', (stats_data) => {
                this.stats = stats_data.relations.filter(relation => {
                    return relation.phone_number !== null;
                });
            });
        },
    }
</script>