<template>
    <div class="card">
        <p>{{ phone_number}}</p>
    </div>
</template>

<script>

    export default {
        name: 'card',
        props: {
            phone_number: {
                required: true,
                'default': ''
            }
        },
    }
</script>

<style scoped>
.card {
        padding: 0 5px;
        margin-bottom: 1px;
        font-size: 14px;
    }
</style>