<template>
    <el-row justify="center" class="cdrs-container">
        <data-tables :data="cdrs" :table-props="tableProps" :filters="filters"
                     :page-size="10" :pagination-props="{ background: true, pageSizes: [5, 10, 20] }">
            <el-row slot="tool" style="margin: 10px 0">
                <el-col :span="5" :offset="1">
                    <el-input v-model="filters[0].value" placeholder="Search..."></el-input>
                </el-col>
            </el-row>
            <template v-for="title in titles">
                <el-table-column v-if="title.prop === 'uploaded_date'" :prop="title.prop" :label="title.label" sortable="custom">
                    <template slot-scope="scope">
                        <i class="el-icon-time"></i>
                        <span style="margin-left: 10px">{{ scope.row.uploaded_date }}</span>
                    </template>
                </el-table-column>
                <el-table-column v-else :prop="title.prop" :label="title.label" :key="title.label" sortable="custom">
                </el-table-column>
            </template>
        </data-tables>
    </el-row>
</template>

<script>
    export default {
        name: 'cdrs',
        data: function() {
            return {
                GET_CDRS_URL: '/cdr/mine/',
                cdrs: [],
                tableProps: {
                    border: false,
                    stripe: false
                },
                titles: [
                    {
                        prop: 'cdr_name',
                        label: 'Name'
                    },
                    {
                        prop: 'uploaded_date',
                        label: 'Date uploaded'
                    }
                ],
                filters: [{
                    value: '',
                    prop: 'cdr_name',
                },
                {
                    value: []
                }]
            }
        },
        mounted() {
            this.initCDRS();
        },
        methods: {
            initCDRS() {
                axios.get(this.GET_CDRS_URL)
                    .then(response => {
                        this.cdrs = response.data.result;
                    });
            }
        }
    }
</script>

<style>
    .cdrs-container {
        background: #ffffff;
    }
    table {
        font-size: 100%;
    }
</style>