<template id="centrality_section">
    <div class="centrality_wrapper table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td @click="sortCentrality('id')">NUMBER</td>
                    <td @click="sortCentrality('pr')" title="Eigenvector Centrality">E.C</td>
                    <td @click="sortCentrality('bc')" title="Betweenness Centrality">B.C</td>
                    <td @click="sortCentrality('cc')" title="Closeness Centrality">C.C</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in sorted_centrality_data" v-bind:key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.pr }}</td>
                    <td>{{ item.bc }}</td>
                    <td>{{ item.cc }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import { details } from '../index';
    import { mapActions } from 'vuex';

    export default {
        name: 'centrality',
        data() {
            return {
                details: [],
                centrality_data: [],
                sort_key: 'pr',
                sort_direction: 'desc'
            }
        },

        mounted() {
            details.$on('showCentrality', (centrality_data) => {
                this.listenToDetailToggle(false);
                this.centralityBarControl(true);
                this.centrality_data = centrality_data;
            });
        },

        methods: {
            ...mapActions([
                'listenToDetailToggle',
                'centralityBarControl'
            ]),
            sortCentrality: function(key) {
                if(key === this.sort_key) {
                    this.sort_direction = this.sort_direction === 'asc'?'desc':'asc';
                }
                this.sort_key = key;
            }
        },

        computed: {
            sorted_centrality_data: function() {
                return this.centrality_data.sort((a,b) => {
                    let modifier = 1;
                    if(this.sort_direction === 'desc') modifier = -1;
                    if(a[this.sort_key] < b[this.sort_key]) return -1 * modifier;
                    if(a[this.sort_key] > b[this.sort_key]) return modifier;
                    return 0;
                });
            }
        }
    }
</script>

<style scoped>
    table {
        font-size: 90%;
        color: #167495;
    }
    table thead {
        color: #ffffff;
        font-size: 10px;
    }
    thead td {
        cursor: pointer;
    }
    thead td:after {
        content: '\f0dc';
        font-family: FontAwesome;
    }
    td {
        padding: 6px !important;
    }
</style>