<template>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td></td>
                    <td>IMEI</td>
                    <td>Frequency</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in stats.slice(0, 5)">
                    <td @click="getIMEIUsage(item.imei)"><i class="fa fa-info-circle"></i></td>
                    <td>{{ item.imei }}</td>
                    <td>{{ item.frequency }} calls</td>
                </tr>
            </tbody>
        </table>
        <i-m-e-i-stats :imei="activeIMEI" :stats="IMEIUsage" :isActive="modalVisible"></i-m-e-i-stats>
    </div>
</template>
<script>
    import { stats } from '../index';
    import { mapActions } from 'vuex';
    import IMEIStats from './Filters/IMEIs.vue';

    export default {

        data: function() {
            return {
                stats:[],
                activeIMEI: '',
                IMEIUsage: [],
                IMEILookupURL: '/search/imei?imei=',
                modalVisible: false,
            }
        },

        components: {
            IMEIStats
        },

        methods: {
            ...mapActions([
                'listenToStatsToggle'
            ]),

            getIMEIUsage(imei) {
                axios.get(this.IMEILookupURL + imei).then(response => {
                    this.IMEIUsage = response.data.result;
                    this.activeIMEI = imei;
                    this.modalVisible = true;
                })
            }
        },

        mounted () {
            stats.$on('updateCy', stats_data => {
                this.listenToStatsToggle(true);
                this.stats = stats_data.phones.filter(phone => {
                    return phone.imei !== null;
                });
            });

            this.$root.$on("closeIMEIModal", () => {
                this.modalVisible= false;
            });
        }
    }
</script>
