<template id="graph">
    <div class="dropzone" :column-id="1">
        <div class="btn-group">
            <button class="btn btn-primary" @click="actionUndo">Undo</button>
            <button class="btn btn-primary" @click="actionRedo">Redo</button>
            <button class="btn btn-primary" @click="clearGraph">Clear</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#filtersModal">Filter</button>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Layout
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" @click="layoutRandom">RANDOM</a>
                    <a class="dropdown-item" href="#" @click="layoutGrid">GRID</a>
                    <a class="dropdown-item" href="#" @click="layoutCircle">CIRCLE</a>
                    <a class="dropdown-item" href="#" @click="layoutConcentric">CONCENTRIC</a>
                    <a class="dropdown-item" href="#" @click="layoutBreadthFirst">BREADTH FIRST</a>
                    <a class="dropdown-item" href="#" @click="layoutCose">COSE</a>
                </div>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#reportsModal">Print</button>
        </div>
        <cytoscape :config="config" :preConfig="preConfig" :afterCreated="afterCreated" style="width:100%; height: 100%"/>

        <Workspaces @updateGraph="updateGraph"></Workspaces>

        <div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DEFINE FILTERS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="card">
                      <div class="card-head">Calls</div>
                      <div class="card-body">
                          <el-slider
                              v-model="callsRange"
                              range=""
                              :max="callsRange[1]">
                            </el-slider>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Min</span>
                                    <input type="number" class="form-control" v-model="calls_filter.selected_min" :min="calls_filter.min" :max="calls_filter.max">
                                </div>
                                <div class="col-md-6">
                                    <span>Max</span>
                                    <input type="number" class="form-control" v-model="calls_filter.selected_max" :min="calls_filter.min" :max="calls_filter.max">
                                </div>
                            </div>
                            <div class="row range-slider">
                                <div class="col-md-12">
                                    <input type="range" class="form-control" v-model="calls_filter.selected_min" :min="calls_filter.min" :max="calls_filter.max" :step="calls_filter.step">
                                </div>
                                <div class="col-md-12">
                                    <input type="range" class="form-control" v-model="calls_filter.selected_max" :min="calls_filter.min" :max="calls_filter.max" :step="calls_filter.step">
                                </div>
                            </div>
                      </div>
                      <div class="row" style="margin-top: 25px;">
                          <div class="col-md-12">
                              <button type="button" class="btn btn-primary" @click="filterEdges" data-dismiss="modal">APPLY</button>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-head">Phone numbers</div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-12">
                                  <span>Phone number</span>
                                  <input type="text" class="form-control" placeholder="Enter phone number" v-model="phone_numbers_filter.phone_number">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <button type="button" class="btn btn-primary" @click="filterNodes" data-dismiss="modal">APPLY</button>
                          </div>
                      </div>
                  </div>

                  <div class="card">
                      <div class="card-head">Date</div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-12 date-input">
                                  <span>Date Range</span>
                                  <el-date-picker
                                  v-model="date_range"
                                  type="daterange"
                                  placeholder="Pick a range">
                                </el-date-picker>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <button type="button" class="btn btn-primary" @click="timeFilter" data-dismiss="modal">APPLY</button>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="reportsModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">REPORT BUILDER</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> DOC</button>
                                <button type="button" @click="savePNG" class="btn btn-primary"><i class="fa fa-picture-o"></i> PNG</button>
                                <button type="button" @click="saveJPG" class="btn btn-primary"><i class="fa fa-picture"></i> JPG</button>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="input_target">Target</label>
                                    <input v-model="report_config.target" disabled class="form-control input-sm" id="input_target" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Statistics</label>
                                    <div class="checkbox">
                                        <label><input type="checkbox" v-model="report_config.calls">Frequent calls</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" v-model="report_config.phones">Phones used</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" v-model="report_config.locations">Frequent locations</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info" @click="savePDF" style="color: #ffffff">GENERATE PDF</button>
                                    <button class="btn btn-info" @click="saveDoc" style="color: #ffffff">GENERATE DOC</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <el-dialog title="Enter name" size = "tiny" :visible.sync="renameFormVisible">
              <el-form :model="form">
                <el-form-item>
                  <el-input v-model="form.name" auto-complete="off"></el-input>
                </el-form-item>
              </el-form>
              <span slot="footer" class="dialog-footer">
                <el-button @click="renameNode" v-if="!loading">Rename</el-button>
                <el-button @click="renameNode" v-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i></el-button>
              </span>
            </el-dialog>

            <el-dialog title="Pick a color" size = "tiny" :visible.sync="colorPickerVisible">
              <el-color-picker v-model="nodeColor" @change="changeNodeColor"></el-color-picker>
            </el-dialog>

        <el-dialog title="Enter node name/number" size = "tiny" :visible.sync="addPhoneVisible">
              <el-form :model="form">
                <el-form-item>
                  <el-input v-model="number_form.number" auto-complete="off"></el-input>
                </el-form-item>
              </el-form>
              <span slot="footer" class="dialog-footer">
                <el-button @click="addNumber">Add</el-button>
              </span>
            </el-dialog>

        <el-dialog title="Enter relation details" size = "tiny" :visible.sync="relationDetailVisible">
              <el-form :model="form">
                <el-form-item>
                  <el-input v-model="relation_form.name" auto-complete="off" placeholder="Enter relation e.g. called" required></el-input>
                </el-form-item>
                  <el-form-item>
                      Frequency (if applicable) <el-input-number v-model="relation_form.frequency" :min="0" label="Enter frequency" ></el-input-number>
                  </el-form-item>
              </el-form>
              <span slot="footer" class="dialog-footer">
                <el-button @click="addRelation">Add</el-button>
              </span>
            </el-dialog>

        </div>
</template>
<script>
    import { stats } from '../index';
    import { details } from '../index';
    import EventBus from '../event-bus';
    import jquery from 'jquery'
    import contextMenus from 'cytoscape-context-menus'
    import 'cytoscape-context-menus/cytoscape-context-menus.css'
    import jsPDF from 'jspdf'
    import html2canvas from 'html2canvas'
    import undoRedo from 'cytoscape-undo-redo'
    import moment from 'moment';
    import 'element-ui/lib/theme-chalk/index.css';
    import { mapActions } from 'vuex';
    let docx = require("docx");
    import saveAs from 'file-saver';
    import Workspaces from './Workspaces.vue';
    import edgehandles from 'cytoscape-edgehandles'

    export default {
        data: function() {
            return {
                renameFormVisible: false,
                colorPickerVisible: false,
                addPhoneVisible: false,
                relationDetailVisible: false,
                callsRanges: [0, 100],
                activeNode: '',
                nodeColor: '#666',
                form: {
                     name: '',
                },
                number_form: {
                    number: '',
                    position: null,
                },
                relation_form: {
                    name: null,
                    frequency: null,
                    relation_id: null,
                    source: null,
                    target: null
                },
                node_id: null,
                date_range: null,
                rename_node_url: 'cdr/rename/node',
                phoneNumberSearchUrl:'/search/phone',
                phoneNumberDetailUrl:'/search/detail',
                node_lookup_url: '/graph/node',
                edge_lookup_url: '/graph/edge',
                graph_data: {},
                location_data: [],
                dates_data: [],
                phones_data: null,
                related_entities: null,
                target: null,
                edge: null,
                weightsFlag: false,
                cy: [],
                cynodes: [],
                cylinks: [],
                ur: [],
                calls_filter: {
                    'step': 0,
                    'min': 1,
                    'max': 100,
                    'selected_min': 0,
                    'selected_max': 100
                },
                phone_numbers_filter: {
                    'phone_number': ''
                },
                config : {
                    style: [
                        {
                            selector: 'node',
                            style: {
                                'background-color': '#666',
                                'label': 'data(name)',
                                'color': '#ddd',
                                'font-size': '10px',
                                'text-valign': 'center',
                                'text-halign': 'center'
                            }
                        },

                        {
                            selector: 'edge',
                            style: {
                                'curve-style': 'bezier',
                                'target-arrow-shape': 'triangle',
                                'width': 2,
                                'target-arrow-color': '#ddd',
                                'label': 'data(label)',
                                'color': '#ddd',
                                'edge-text-rotation': 'autorotate'
                             }
                        },

                        {
                            selector: '.highlight',
                            style: {
                                'background-color': 'orange',
                                'text-outline-color': 'orange'
                            }
                        },
                        {
                            selector: '.faded',
                            style: {
                                'opacity': '0.8'
                            }
                        }
                    ],
                    elements: [this.cynodes, this.cylinks],
                    layout: {
                        name: 'grid',
                        directed: true,
                        animate: true,
                        animationDuration: 1000,
                        animationEase: 'ease-in-out',
                        fit: true,
                        padding: 10,
                    },
                },
                loading: false,
                cyInstance: null,
                weightedWidth: 0,
                report_config: {
                    all_nodes: true,
                    target: null,
                    calls: true,
                    phones: true,
                    locations: true
                },
                theme: {}
            }
        },
        computed: {
            callsRange: {
                get: function () {
                    return [Number(this.calls_filter.selected_min), Number(this.calls_filter.selected_max)];
                },
                set: function (newValue) {
                    this.calls_filter.selected_min = Number(newValue[0]);
                    this.calls_filter.selected_max = Number(newValue[1]);
                }
            },
            active_theme() {
                return this.$store.getters.theme;
            }
        },
        components: {
            Workspaces
        },
        methods: {
             ...mapActions([
                 'listenToThemeChange',
                 'listenToRightBarToggle',
                 'centralityBarControl',
                 'listenToSearchToggle',
                 'listenToNodeChanges',
                 'listenToSMSToggle',
                 'centralityBarControl',
                 'listenToDetailToggle',
                 'synspyBarControl',
                 'updateTarget'
             ]),

            preConfig(cytoscape) {
                 contextMenus(cytoscape, jquery);
                 undoRedo(cytoscape);
                 cytoscape.use(edgehandles);
            },
            created() {

            },
            afterCreated (cy) {
                 cy.edgehandles().enable();
            },
            // update the cytoscape canvas
            updateCy: function (number) {
                axios.post(this.phoneNumberDetailUrl, {phone_number: number, filter_item: this.$parent.filterParam.item, filter_value: this.$parent.filterParam.value }).then((response) => {
                    this.graph_data = response.data.content.graph_data;
                    this.setUp();
                });
            },
            setUp() {
                let graph_data = this.graph_data;
                let max_frequency = 1;
                for (let i in graph_data) {
                    let elems = graph_data[i];
                    let edge_id = elems.id;
                    let source = elems.source;
                    let target = elems.target;
                    let source_name = elems.source_name;
                    let target_name = elems.target_name;
                    let call_date = null;
                    if (elems.datetime) {
                        call_date = moment(new Date(elems.datetime)).format('LL');
                    }
                    let frequency = elems.frequency;
                    if (frequency > max_frequency) {
                        max_frequency = frequency;
                    }
                    this.cynodes.push({
                        group: "nodes",
                        grabbable: true,
                        data: {
                            id: source,
                            name: source_name !== "nan" ? source_name : source,
                            frequency: frequency
                        },
                        position: {
                            x: 300 + Math.random() * (300 - 1) + 1,
                            y: 160 + Math.random() * (300 - 1) + 1
                        }
                    });
                    this.cynodes.push({
                        group: "nodes",
                        grabbable: true,
                        data: {
                            id: target,
                            name: target_name !== "nan" ? target_name : target,
                            frequency: frequency
                        },
                        position: {
                            x: 600 + Math.random() * (300 - 1) + 1,
                            y: 160 + Math.random() * (300 - 1) + 1
                        }
                    });
                    this.cylinks.push({
                        group: "edges",
                        data: {
                            id: "call_" + edge_id,
                            source: source,
                            target: target,
                            weight: frequency,
                            frequency: frequency,
                            classes: 'autorotate',
                            label: "called (" + frequency + ")",
                            datetime: call_date
                        }
                    });
                }

                this.calls_filter.max = max_frequency;
                this.cyInstance.add(this.cynodes);
                this.cyInstance.add(this.cylinks);
                this.getWeights();
                this.layoutRandom();
            },
            getWeights() {
                 this.weightsFlag = this.cyInstance.nodes().length < 3;
                 let min = this.cyInstance.nodes().min( n => n.data('frequency') ).value;
                 let max = this.cyInstance.nodes().max( n => n.data('frequency') ).value;
                 if(!isFinite(min)) {
                     min = 0;
                 }
                 if(!isFinite(max)) {
                     max = 0;
                 }
                 this.weightedWidth = ( max - min ) / 5;

                 this.config.style.filter(style => {
                     if(style.selector === "edge") {
                         style.style['line-color'] = 'mapData(frequency,' + min + ', ' +
                             max + ', #400000 , #FF0000)';
                     }
                     else if(style.selector === "node") {
                         style.style['width'] = this.weightsFlag ? 'mapData(data.frequency,' + min + ', ' +
                             max + ', 20px , 80px)' : 'mapData(frequency,' +
                             min + ', ' + max + ', 20px , 80px)';
                         style.style['height'] = this.weightsFlag ? 'mapData(data.frequency,' + min + ', ' +
                             max + ', 20px , 80px)' : 'mapData(frequency,' +
                             min + ', ' + max + ', 20px , 80px)';
                     }
                 });
                 this.cyInstance.style(this.config.style);
            },
            menus:function () {
                this.cyInstance.contextMenus({
                    menuItems: [
                        {
                            id: 'related',
                            content: 'add related',
                            tooltipText: 'add all related',
                            image: {src: '/assets/images/add.png', width: 12, height: 12, x: 6, y: 4},
                            selector: 'node',
                            onClickFunction: (event) => {
                                let target = event.target || event.cyTarget;
                                this.updateCy(target.id());
                                this.saveWorkspace();
                            },
                            hasTrailingDivider: true
                        },
                        {
                            id: 'remove',
                            content: 'remove',
                            tooltipText: 'remove',
                            image: {src: '/assets/images/remove.png', width: 12, height: 12, x: 6, y: 4},
                            selector: 'node, edge',
                            onClickFunction: (event) => {
                                let target = event.target || event.cyTarget;
                                let linked_edges = target.connectedEdges();
                                let linked_edges_num = linked_edges.length;

                                target.remove();

                                for (let i = 0; i < linked_edges_num; ++i) {
                                    let nodes = linked_edges[i].connectedNodes();
                                    let nodes_to_discard = nodes.filter(function (node) {
                                        return (node.connectedEdges().length === 0);
                                    });
                                    this.cyInstance.remove(nodes_to_discard);
                                }
                                this.saveWorkspace();
                            },
                            hasTrailingDivider: true
                        },
                        {
                            id: 'hide',
                            content: 'hide',
                            tooltipText: 'hide',
                            image: {src: '/assets/images/hide.png', width: 12, height: 12, x: 6, y: 4},
                            selector: '*',
                            onClickFunction: (event) => {
                                let target = event.target || event.cyTarget;
                                target.hide();
                                this.saveWorkspace();
                            },
                            disabled: false,
                            hasTrailingDivider: true
                        },
                        {
                            id: 'rename',
                            content: 'rename',
                            tooltipText: 'rename',
                            image: {src: '/assets/images/rename.png', width: 12, height: 12, x: 6, y: 4},
                            selector: 'node',
                            onClickFunction: (event) => {
                                this.form.name = null;
                                this.node_id = null;
                                let target = event.target || event.cyTarget;
                                this.form.name = target.id();
                                this.node_id = target.id();
                                this.renameFormVisible = true;
                            },
                            disabled: false,
                            hasTrailingDivider: true
                        },
                        {
                            id: 'lookup device',
                            content: 'lookup device',
                            tooltipText: 'lookup device',
                            image: {src: '/assets/images/device.png', width: 12, height: 12, x: 6, y: 4},
                            selector: 'node',
                            onClickFunction: (event) => {
                                let target = event.target || event.cyTarget;
                                let phoneNumber = target.id();
                                this.lookupDevice(phoneNumber);
                            },
                            disabled: false,
                            hasTrailingDivider: true
                        },
                        {
                            id: 'highlight',
                            content: 'highlight',
                            tooltipText: 'highlight',
                            image: {src: '/assets/images/highlight.png', width: 12, height: 12, x: 6, y: 4},
                            selector: '*',
                            onClickFunction: (event) => {
                                this.activeNode = event.target || event.cyTarget;
                                this.colorPickerVisible = true;
                            },
                            disabled: false
                        },
                        {
                            id: 'add-node',
                            content: 'Add a new...',
                            tooltipText: 'Add a new...',
                            image: {src: '/assets/images/add_phone.png', width: 12, height: 12, x: 6, y: 4},
                            coreAsWell: true,
                            onClickFunction: (event) => {
                                this.number_form.position = event.target.pan();
                                this.addPhoneVisible = true;
                            },
                            disabled: false
                        }
                    ]
                });
            },
            addNumber: function(){
                 if(this.number_form.number)
                 {
                     this.cyInstance.add([
                         {
                             group: "nodes",
                             grabbable: true,
                             data: {
                                 id: this.number_form.number,
                                 name: this.number_form.number,
                                 weight: 50
                             },
                             position: {
                                 x: this.number_form.position.x,
                                 y: this.number_form.position.y
                             }
                         }
                     ]);
                     this.getWeights();
                     this.addPhoneVisible = false;
                 }
                 else{
                     alert("Number required!!");
                 }
            },
            addRelation: function(){
                let relation = this.cyInstance.getElementById( this.relation_form.relation_id );
                this.cyInstance.remove( relation );
                 this.cyInstance.add({
                     group: "edges",
                     data: {
                         id: this.relation_form.relation_id,
                         source: this.relation_form.source.data().id,
                         target: this.relation_form.target.data().id,
                         weight: this.relation_form.frequency,
                         frequency: this.relation_form.frequency,
                         classes: 'autorotate',
                         label: this.relation_form.name + " (" + this.relation_form.frequency + ")",
                     }
                 });
                 this.getWeights();
                 this.relationDetailVisible = false;
            },
            renameNode: function(){
                this.loading = true;
                axios.post(this.rename_node_url, { old_name: this.node_id, new_name: this.form.name}).then(() => {
                    let node = this.cyInstance.getElementById( this.node_id );

                    node.data('name', this.form.name);
                    this.saveWorkspace();
                    this.renameFormVisible = false;
                    this.loading = false;
                });
            },

            actions: function () {
                this.cyInstance.on('tap', 'node', (event) => {
                    const data = event.target.data();
                    const number = data.id;
                    this.target = number;
                    this.updateTarget(number);
                    axios.post(this.phoneNumberDetailUrl, {phone_number: number, filter_item: this.$parent.filterParam.item, filter_value: this.$parent.filterParam.value }).then((response) => {
                        for(let i of response.data.content.common_locations) {
                            let location = i.location.split(",");
                            if (location.length === 2) {
                                this.location_data.push({
                                    latitude: location[0],
                                    longitude: location[1],
                                    frequency: i.frequency
                                });
                            }
                        }
                        this.phones_data = response.data.content.phones_used;
                        this.related_entities = response.data.content.related_entities;
                        this.dates_data = response.data.content.dates;
                        let stats_data = {
                            locations: this.location_data,
                            phones: this.phones_data,
                            relations: this.related_entities,
                            dates: this.dates_data
                        };
                        stats.$emit('updateCy', stats_data);
                    });
                    document.getElementById("analyze-btn").style.display = "block";
                    this.highlight();
                });

                this.cyInstance.on('tapend', () => {
                    this.saveWorkspace();
                });

                this.cyInstance.on('tap', 'edge', (event) => {
                    const data = event.target.data();
                    const source = data.source;
                    const target = data.target;
                    this.listenToDetailToggle(true);
                    this.listenToRightBarToggle(true);
                    axios.get(this.edge_lookup_url + '?source=' + source + '&target=' + target + '&filter=' + this.$parent.filterParam).then((response) => {
                        let calls_data = response.data.content;
                        Event.$emit("callDetails");
                        details.$emit('callDetails', calls_data);
                    });
                })

                this.cyInstance.on('ehcomplete', (event, sourceNode, targetNode, addedEles) => {
                    this.relation_form.relation_id = addedEles.data().id;
                    this.relation_form.source = sourceNode;
                    this.relation_form.target = targetNode;
                    this.relationDetailVisible = true;
                });
            },

            saveWorkspace() {
                const content = this.cyInstance.json();

                this.listenToNodeChanges(content.elements.nodes);
                Event.$emit('saveWorkspace', {
                     content: content
                });
            },

            updateGraph(content) {
                this.cyInstance.elements().remove();
                this.cyInstance.json(content);
                this.menus();
                this.actions();
                this.getWeights();
            },

            clearGraph() {
                this.cyInstance.remove(this.cyInstance.elements());
                this.saveWorkspace();
            },

            savePNG() {
                let graph64 = this.cyInstance.png({'bg':'#ffffff'});
                let a = document.createElement('a');
                a.href = graph64;
                a.download = "report.png";
                a.click();
            },

            saveJPG() {
                let graph64 = this.cyInstance.jpg({'bg':'rgb(82, 86, 89)'});
                let a = document.createElement('a');
                a.href = graph64;
                a.download = "report.jpg";
                a.click();
            },

            saveDoc: function(){
                 if(this.target) {
                     let doc = new docx.Document();
                     if (this.report_config.calls && this.related_entities && this.related_entities.length > 0) {
                         let contact_header = new docx.Paragraph("CONTACTS").heading2();
                         doc.addParagraph(contact_header);
                         const contact_table = doc.createTable(this.related_entities.length + 1, 2);
                         let number_header = new docx.Paragraph();
                         number_header.addRun(new docx.TextRun("NUMBER").bold());
                         let freq_header = new docx.Paragraph();
                         freq_header.addRun(new docx.TextRun("FREQ").bold());
                         contact_table.getCell(0, 0).addContent(number_header);
                         contact_table.getCell(0, 1).addContent(freq_header);

                         for (let i = 0; i < this.related_entities.length; i++) {
                             contact_table.getCell(i + 1, 0).addContent(new docx.Paragraph(this.related_entities[i].phone_number));
                             contact_table.getCell(i + 1, 1).addContent(new docx.Paragraph(this.related_entities[i].frequency));
                         }
                     }

                     if (this.report_config.phones && this.phones_data && this.phones_data.length > 0) {
                         let phone_header = new docx.Paragraph("IMEI").heading2();
                         doc.addParagraph(phone_header);
                         const imei_table = doc.createTable(this.phones_data.length + 1, 2);
                         let imei_header = new docx.Paragraph();
                         imei_header.addRun(new docx.TextRun("IMEI").bold());
                         let imei_freq_header = new docx.Paragraph();
                         imei_freq_header.addRun(new docx.TextRun("FREQ").bold());
                         imei_table.getCell(0, 0).addContent(imei_header);
                         imei_table.getCell(0, 1).addContent(imei_freq_header);

                         for (let i = 0; i < this.phones_data.length; i++) {
                             imei_table.getCell(i + 1, 0).addContent(new docx.Paragraph(this.phones_data[i].imei));
                             imei_table.getCell(i + 1, 1).addContent(new docx.Paragraph(this.phones_data[i].frequency));
                         }
                     }

                     if(this.report_config.locations && this.location_data && this.location_data.length > 0) {
                         let location_header = new docx.Paragraph("LOCATIONS").heading2();
                         doc.addParagraph(location_header);
                         const location_table = doc.createTable(this.location_data.length + 1, 2);
                         let loc_header = new docx.Paragraph();
                         loc_header.addRun(new docx.TextRun("LOCATION").bold());
                         let loc_freq_header = new docx.Paragraph();
                         loc_freq_header.addRun(new docx.TextRun("FREQ").bold());
                         location_table.getCell(0, 0).addContent(loc_header);
                         location_table.getCell(0, 1).addContent(loc_freq_header);

                         for (let i = 0; i < this.location_data.length; i++) {
                             location_table.getCell(i + 1, 0).addContent(new docx.Paragraph(this.location_data[i].latitude +
                                 ', ' + this.location_data[i].longitude));
                             location_table.getCell(i + 1, 1).addContent(new docx.Paragraph(this.location_data[i].frequency));
                         }
                     }
                     const packer = new docx.Packer();
                     packer.toBlob(doc).then((blob) => {
                         saveAs(blob, this.target+"_report.docx");
                     });
                 }
                 else{
                     alert("Select a phone to generate report on");
                 }
            },

            savePDF() {
                // delete existing iframes
                let iframes = document.querySelectorAll('iframe');
                for (let i = 0; i < iframes.length; i++) {
                    iframes[i].parentNode.removeChild(iframes[i]);
                }

                let report = document.createElement('div');
                let graph = new Image();
                let section_header = document.createElement("h3");
                section_header.style.margin = "0";
                section_header.style.padding = "1rem";
                section_header.style.fontFamily = "sans-serif";
                section_header.style.fontSize = "18px";
                section_header.style.fontWeight = "500";
                section_header.style.lineHeight = "1";
                section_header.style.display = "block";

                graph.src = this.cyInstance.png({'bg':'rgb(82, 86, 89)'});
                section_header.append("GRAPH");
                report.appendChild(section_header);
                report.append(graph);

                if(this.report_config.calls && this.related_entities && this.related_entities.length > 0) {
                    let section_header1 = document.createElement("h3");
                    section_header1.style.margin = "0";
                    section_header1.style.padding = "1rem";
                    section_header1.style.fontFamily = "sans-serif";
                    section_header1.style.fontSize = "18px";
                    section_header1.style.fontWeight = "500";
                    section_header1.style.lineHeight = "1";
                    section_header1.style.display = "block";
                    section_header1.append("RELATED ENTITIES");
                    let entities_num = this.related_entities.length;
                    let table = document.createElement('table');
                    let table_head = document.createElement('thead');
                    let table_body = document.createElement('tbody');
                    let tr = document.createElement('tr');
                    let td = document.createElement('td');
                    let td1 = document.createElement('td');
                    table.setAttribute('id', 'report_calls');
                    td.appendChild(document.createTextNode('Phone number'));
                    tr.appendChild(td);
                    td1.appendChild(document.createTextNode('Frequency'));
                    tr.appendChild(td1);
                    table_head.appendChild(tr);
                    for(let i = 0; i < entities_num; ++i) {
                        let tr = document.createElement('tr');
                        let td = document.createElement('td');
                        td.appendChild(document.createTextNode(this.related_entities[i].phone_number));
                        let td1 = document.createElement('td');
                        td1.appendChild(document.createTextNode(this.related_entities[i].frequency));
                        tr.appendChild(td);
                        tr.appendChild(td1);
                        table_body.appendChild(tr);
                    }
                    table.appendChild(table_head);
                    table.appendChild(table_body);
                    report.appendChild(section_header1);
                    report.appendChild(table);
                }
                if(this.report_config.phones && this.phones_data && this.phones_data.length > 0) {
                    let section_header2 = document.createElement("h3");
                    section_header2.style.margin = "0";
                    section_header2.style.padding = "1rem";
                    section_header2.style.fontFamily = "sans-serif";
                    section_header2.style.fontSize = "18px";
                    section_header2.style.fontWeight = "500";
                    section_header2.style.lineHeight = "1";
                    section_header2.style.display = "block";
                    section_header2.append("PHONES USED");
                    let phones_num = this.phones_data.length;
                    let table = document.createElement('table');
                    let table_head = document.createElement('thead');
                    let table_body = document.createElement('tbody');
                    let tr = document.createElement('tr');
                    let td = document.createElement('td');
                    let td1 = document.createElement('td');
                    td.appendChild(document.createTextNode('IMEI'));
                    tr.appendChild(td);
                    td1.appendChild(document.createTextNode('Frequency'));
                    tr.appendChild(td1);
                    table_head.appendChild(tr);
                    for(let i = 0; i < phones_num; ++i) {
                        let tr = document.createElement('tr');
                        let td = document.createElement('td');
                        td.appendChild(document.createTextNode(this.phones_data[i].imei));
                        let td1 = document.createElement('td');
                        td1.appendChild(document.createTextNode(this.phones_data[i].frequency));
                        tr.appendChild(td);
                        tr.appendChild(td1);
                        table_body.appendChild(tr);
                    }
                    table.appendChild(table_head);
                    table.appendChild(table_body);
                    report.appendChild(section_header2);
                    report.appendChild(table);
                }
                if(this.report_config.locations && this.location_data && this.location_data.length > 0) {
                    let section_header3 = document.createElement("h3");
                    section_header3.style.margin = "0";
                    section_header3.style.padding = "1rem";
                    section_header3.style.fontFamily = "sans-serif";
                    section_header3.style.fontSize = "18px";
                    section_header3.style.fontWeight = "500";
                    section_header3.style.lineHeight = "1";
                    section_header3.style.display = "block";
                    section_header3.append("COMMON LOCATIONS");
                    let locations_num = this.location_data.length;
                    let table = document.createElement('table');
                    let table_head = document.createElement('thead');
                    let table_body = document.createElement('tbody');
                    let tr = document.createElement('tr');
                    let td = document.createElement('td');
                    let td1 = document.createElement('td');
                    td.appendChild(document.createTextNode('Position'));
                    tr.appendChild(td);
                    td1.appendChild(document.createTextNode('Frequency'));
                    tr.appendChild(td1);
                    table_head.appendChild(tr);
                    for(let i = 0; i < locations_num; ++i) {
                        let tr = document.createElement('tr');
                        let td = document.createElement('td');
                        td.appendChild(document.createTextNode('(' + this.location_data[i].latitude + ', ' + this.location_data[i].longitude + ')'));
                        let td1 = document.createElement('td');
                        td1.appendChild(document.createTextNode(this.location_data[i].frequency));
                        tr.appendChild(td);
                        tr.appendChild(td1);
                        table_body.appendChild(tr);
                    }
                    table.appendChild(table_head);
                    table.appendChild(table_body);
                    report.appendChild(section_header3);
                    report.appendChild(table);
                }
                for(let i = 0; i < report.children.length; ++i) {
                    if(report.children[i].tagName === "TABLE") {
                        report.children[i].style.width = "100%";
                        report.children[i].style.fontFamily = "sans-serif";
                        report.children[i].style.maxWidth = "100%";
                        report.children[i].style.marginTop = "1rem";
                        report.children[i].style.marginBottom = "1rem";
                        report.children[i].style.borderCollapse = "collapse";
                        report.children[i].style.backgroundColor = "transparent";
                        report.children[i].style.boxShadow = "0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 0px rgba(0, 0, 0, 0.02)";
                    }

                }
                setTimeout(function() {
                    $('<iframe>', {
                        name: 'myiframe',
                        id: 'myiframe',
                        class: 'printFrame'
                    })
                    .appendTo('body')
                    .contents().find('body')
                    .append(report);
                    window.frames['myiframe'].focus();
                    window.frames['myiframe'].print();
                }, 2000);

            },

            filterNodes() {
                let phone_number = this.phone_numbers_filter.phone_number;
                let nodes = this.cyInstance.nodes().filter(node => {
                    let node_details = node.data();
                    return (node_details.id != phone_number);
                });
                this.cyInstance.remove(nodes);
                this.cyInstance.undoRedo().do("remove", nodes);
                this.cynodes = [];
                this.updateCy(phone_number);
            },

            filterEdges() {
                let edges = this.cyInstance.edges().filter(edge => {
                    return (edge.data("frequency") < this.calls_filter.selected_min || edge.data("frequency") > this.calls_filter.selected_max);
                });
                let linked_nodes = edges.connectedNodes();
                this.cyInstance.remove(edges);
                let nodes = linked_nodes.filter(node => {
                    return (node.connectedEdges().length === 0);
                });
                this.cyInstance.remove(nodes);
                this.getWeights();
                this.layoutRandom();
            },

            timeFilter: function() {
                if(this.date_range) {
                    let start = moment(new Date(this.date_range[0])).format('LL');
                    let end = moment(new Date(this.date_range[1])).format('LL');

                    let edges = this.cyInstance.edges().filter(function (edge) {
                        return (edge.data("datetime") < start || edge.data("datetime") > end);
                    });

                    let linked_nodes = edges.connectedNodes();
                    this.cyInstance.remove(edges);
                    let nodes = linked_nodes.filter(node => {
                        return (node.connectedEdges().length === 0);
                    });
                    this.cyInstance.remove(nodes);
                    this.saveWorkspace();
                }
                else{
                    alert("No date range selected!!");
                }
            },

            layoutRandom() {
                let layout = this.cyInstance.layout({
                    name: 'random',
                    fit: true,
                    animate: true
                });
                layout.run();
                this.saveWorkspace();
            },

            layoutGrid() {
                let layout = this.cyInstance.layout({
                    name: 'grid',
                    animate: true,
                    levelWidth: this.weightedWidth,
                });
                layout.run();
                this.saveWorkspace();
            },

            layoutCircle() {
                let layout = this.cyInstance.layout({
                    name: 'circle',
                    animate: true,
                });
                layout.run();
                this.saveWorkspace();
            },

            layoutConcentric() {
                let concentric = function (node) {
                    return node.data('frequency');
                };
                let layout = this.cyInstance.layout({
                    name: 'concentric',
                    fit: true,
                    padding: 30,
                    animate: true,
                    concentric: concentric,
                });
                layout.run();
                this.saveWorkspace();
            },

            layoutBreadthFirst() {
                let layout = this.cyInstance.layout({
                    name: 'breadthfirst',
                    fit: true,
                    directed: false,
                    padding: 30,
                    circle: false,
                    spacingFactor: 1.75,
                    boundingBox: undefined,
                    avoidOverlap: true,
                    nodeDimensionsIncludeLabels: false,
                    maximalAdjustments: 0,
                    animate: true,
                    animationDuration: 500,
                    levelWidth: this.weightedWidth,
                    animateFilter: function ( node, i ){ return true; },
                    transform: function (node, position ){ return position; }
                });
                layout.run();
                this.saveWorkspace();
            },

            layoutCose() {
                let layout = this.cyInstance.layout({
                    name: 'cose',
                    animate: true,
                    spacingFactor: 1.75,
                });
                layout.run();
                this.saveWorkspace();
            },

            actionUndo() {
                this.cyInstance.undoRedo().undo();
                this.saveWorkspace();
            },

            actionRedo() {
                this.cyInstance.undoRedo().redo();
                this.saveWorkspace();
            },

            highlight() {
                let number = this.target;
                let node = this.cyInstance.getElementById(number);
                let nhood = node.closedNeighborhood();
                let others = this.cyInstance.elements().not(nhood);
                let highlighted_nodes = this.cyInstance.$('.highlighted');
                let layoutPadding = 10;
                let reset = () => {
                    this.cyInstance.batch(() => {
                        this.cyInstance.nodes().removeClass('faded highlighted highlight');
                        highlighted_nodes.shift(node.position());
                        others.addClass('faded');
                        nhood.addClass('highlighted');
                    });

                    return Promise.resolve().then(() => {
                        return fit();
                    });
                };

                let runLayout = () => {
                    node.addClass('highlight');

                    let l = nhood.makeLayout({
                        name: 'breadthfirst',
                        roots: '#'+number,
                        strictHierarchy: true,
                        fit: true,
                        avoidOverlap: true,
                        maximalAdjustments: 0,
                        animate: true,
                        animationDuration: 500
                    });

                    let promise = this.cyInstance.promiseOn('layoutstop');

                    l.run();
                    return promise;
                };

                let fit = () => {
                    return this.cyInstance.animation({
                        fit: {
                            eles: nhood.filter(':visible'),
                            padding: layoutPadding
                        },
                        easing: 'linear',
                        duration: 500
                    }).play().promise();
                };

                return Promise.resolve()
                    .then(reset)
                    .then(runLayout)
                    .then(fit);
            },
            analyze() {
                let centrality_data = [];
                let numNodes = this.cyInstance.nodes().length;
                let pageRank = this.cyInstance.elements().pageRank();
                for(let i = 0; i < numNodes; ++i) {
                    centrality_data.push({
                        id: this.cyInstance.nodes()[i]._private.data.id,
                        bc: Number(this.cyInstance.$().bc().betweenness(this.cyInstance.nodes()[i]).toFixed(2)),
                        cc: Number(this.cyInstance.$().cc({ root: this.cyInstance.nodes()[i] }).toFixed(2)),
                        pr: Number(pageRank.rank(this.cyInstance.nodes()[i]).toFixed(2))
                    })
                }
                details.$emit('showCentrality', centrality_data);
            },
            changeNodeColor() {
                if(this.activeNode) {
                    this.cyInstance.style()
                        .selector('#' + this.activeNode.id())
                            .style('background-color', this.nodeColor)
                            .style('line-color', this.nodeColor)
                        .update();
                    this.colorPickerVisible = false;
                    this.saveWorkspace();
                }
            },
            lookupDevice: function (phone_number) {
                this.listenToSMSToggle(false);
                this.centralityBarControl(false);
                this.synspyBarControl(true);
                this.listenToDetailToggle(false);
                this.$store.dispatch('getDeviceDetails', phone_number);
            }
        },
        mounted: function()
        {
            this.listenToRightBarToggle(true);
            this.listenToSearchToggle(true);
            this.listenToSMSToggle(false);
            this.centralityBarControl(false);
            this.synspyBarControl(false);
            this.listenToDetailToggle(true);

            EventBus.$on('MOVED', number => {
                 this.updateCy(number);
                 this.saveWorkspace();
            });

            this.$cytoscape.instance.then(cy => {
                 cy.style(this.config.style);
                 this.cyInstance = cy;
            });

            if(!this.$store.getters.theme)
                this.$store.dispatch('getActiveTheme');

            document.addEventListener("keydown", (e) => {
                if (e.ctrlKey) {
                    if (e.which === 90)
                        this.actionUndo();
                    else if (e.which === 89)
                        this.actionRedo();
                }
            });

            Event.$on('analyze', () => {
                this.analyze() ;
            });
        },

        watch: {
            'target': function(val) {
                if(val) {
                    this.report_config.target = val;
                }
            }
        }
    }
</script>

<style>
.dropdown, .dropdown-menu {
    width: auto !important;
}
.btn-group .btn {
    border-right: 2px solid white;
    font-weight: bold;
}
.btn-group .btn:last-child{
    border-right: 0;
}
/*filters*/
#filtersModal .modal-body {
    overflow-y: auto !important;
}
#filtersModal .modal-dialog, #reportsModal .modal-dialog {
    top: 25%;
    min-width: 50%;
}
.range-slider input[type="range"] {
  pointer-events: none;
  position: absolute;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 14px;
  box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  overflow: hidden;
  left: 0;
  top: 10px;
  outline: none;
  height: 20px;
  padding: 0;
  width: 95%;
  margin-left: 12px;
}
.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413F41));
  /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top, #dad8da 0, #413F41 100%);
  /* older mobile safari and android > 2.2 */
  background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
  /* W3C */
}
.range-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
  /* W3C */
}
.range-slider input[type="range"]::-ms-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -ms-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 14px;
  border: 0;
  background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
  /* W3C */
}
.range-slider input[type=range]::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: black;
  border: 0;
}
.range-slider input[type=range]:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}
.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}


.el-date-range-picker .el-picker-panel__body {
    background: #ffffff;
}

.el-slider__button {
    width: 16px !important;
}
.el-slider__stop {
    width: 6px !important;
}
</style>
