<template>
    <div class="">
        <div class="control-btns" style="padding-left: 1%;">
             <button class="btn btn-primary" id="domainDynamicDimension-previous">
                 <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            <button class="btn btn-primary" id="domainDynamicDimension-next">
                <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
        <div id="cal-heatmap" style="padding: 2%; color: #000000 !important;"></div>
    </div>
</template>

<script>
    import { stats } from '../index';
    import moment from 'moment';
    import { mapActions } from 'vuex';
    export default {
        data: function(){
           return{
               heat_map: [],
           }
        },
        computed: {
            graph_data(){
                return this.heat_map;
            },
            target(){
                return this.$store.getters.target;
            }
        },
        methods: {
             ...mapActions([
                 'heatmapDataUpdate',
                 'heatmapDetails'
             ]),
            updateHeatMap: function (val) {
                let myNode = document.getElementById("cal-heatmap");
                let self = this;
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                let legend = [5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100];
                let cal = new CalHeatMap();
                cal.init({
                    domain: "month",
                    subDomain: "x_day",
                    cellSize: 25,
                    subDomainTextFormat: "%d",
                    range: 1,
                    displayLegend: true,
                    legend: legend,
                    legendMargin: [0,0,0,0],
                    nextSelector: "#domainDynamicDimension-next",
	                previousSelector: "#domainDynamicDimension-previous",
                    rowLimit: 11,
                    label: {
                        position: "bottom",
                    },
                    tooltip: true,
                    start: new Date(findStartDate(this.graph_data.dates)),
                    data: this.graph_data.dates,
                    afterLoadData: dataConverter,
                   itemName: "interaction",
                    domainLabelFormat: function (date) {
                        return moment(date).format("MMMM YYYY");
                    },
                    onClick: function(date, nb) {
                         self.showDayDetails(date,nb);
                    }
                });
            },
            showDayDetails: function (date,nb) {
                 let heatmap_data = {
                    data:  this.graph_data.dates,
                     date: date,
                 };
                this.heatmapDataUpdate(heatmap_data);
                $("#heatmapModal").modal();
                this.heatmapDetails(true);
            }
        },
       mounted: function(){
            stats.$on('updateCy', (stats_data) => {
                this.stats = stats_data;
                this.heat_map = stats_data;
                this.updateHeatMap();
            });
        },
    }
    function dataConverter(data) {
        let stats = {};
        for (let d in data) {
            stats[moment(data[d].date).unix()] = data[d].frequency;
        }
        return stats;
    }
    function findStartDate(data){
        let converted = dataConverter(data);
        let min = Math.min(parseInt(Object.keys(converted)));
        return moment.unix(min).format("MM/DD/YYYY");
    }
</script>

<style scoped>

</style>