<template>
    <div class="">
        <div class="col-md-6">
            <div class="control-btns" style="padding: 0 0 5% 1%">
                <button class="btn btn-primary" id="previous">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <button class="btn btn-primary" id="next">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
            <div id="daily-heatmap"></div>
        </div>
        <div class="col-md-6">
            <h5 v-if="guide">Click on an hour to view calls made</h5>
            <div class="hour-results" v-if="hour_data.length">
                <h4>Calls made:</h4>
                <div v-for="data in hour_data">
                    <a>{{data.caller}} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{data.callee}}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';
    import moment from 'moment';
    export default {
        data: function () {
            return {
                hour_details: false,
                loading: false,
                guide: true,
                hour_data: [],
                detail_url: 'cdr/hour/details'
            }
        },
        computed: {
            heatmap_data(){
                return this.$store.getters.heatmap_data;
            },
            target(){
                return this.$store.getters.target;
            }
        },
        methods: {
            updateDailyHeatMap: function () {
                let myNode = document.getElementById("daily-heatmap");
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                let legend = [2,4,6,8,10,12,14,16,18,20,22,24,26,28,30];
                let self = this;
                let cal = new CalHeatMap();

                    cal.init({
                        itemSelector: "#daily-heatmap",
                        domain: "day",
                        subDomain: "x_hour",
                        cellSize: 30,
                        range: 1,
                        displayLegend: true,
                        legend: legend,
                        legendVerticalPosition: "bottom",
                        legendMargin: [5, 0, 0, 0],
                        nextSelector: "#next",
                        previousSelector: "#previous",
                        rowLimit: 8,
                        label: {
                            position: "bottom",
                        },
                        tooltip: true,
                        start: new Date(findStartDate(this.heatmap_data.date)),
                        data: this.heatmap_data.data,
                        afterLoadData: dataConverter,
                        itemName: "interaction",
                        domainLabelFormat: function (date) {
                            return moment(date).format('MMM Do YYYY');
                        },
                        subDomainTextFormat: function (date, value) {
                            return moment(date).format('HH');
                        },
                        onClick: function (date, nb) {
                            self.showHourDetails(date, nb);
                        }
                    });

            },
            showHourDetails: function (date, nb) {
                this.guide = false;
                this.loading = true;
                let start = moment(date).format( "YYYY-MM-DD HH:MM:ss");
                let end = moment(date).add(1, 'hours').format( "YYYY-MM-DD HH:MM:ss");
                console.log(start);
                axios.get(this.detail_url + '?target=' + this.target + '&start=' + start + '&end=' + end)
                    .then(response => {
                        this.hour_data = response.data.details;
                        this.loading = false;
                }).catch(error => {
                    console.log(error);
                })
            }
        },
        mounted: function () {
            this.updateDailyHeatMap();
        }
    }
     function dataConverter(data) {
        let stats = {};
        for (let d in data) {
            stats[moment(data[d].datetime).unix()] = data[d].frequency;
        }
        return stats;
    }
    function findStartDate(date){
        return moment(date).format("MM/DD/YYYY");
    }
</script>

<style scoped>
.hour-results {
    text-align: center;
}
</style>