<template>
    <table class="table">
        <thead>
            <tr>
                <td>Latitude</td>
                <td>Longitude</td>
                <td>Frequency</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in locations.slice(0, 5)">
                <td>{{ item.latitude }}</td>
                <td>{{ item.longitude }}</td>
                <td>{{ item.frequency }}</td>
                <div class="clear"></div>
            </tr>
        </tbody>
    </table>
</template>
<script>
    import { stats } from '../index';
    export default {
        data: function(){
            return{
                 locations: [],
            }
        },
        methods:{
             updateLocations: function() {
                this.locations = this.stats.locations;
            },
        },
        mounted: function() {
            stats.$on('updateCy', (stats_data) => {
                this.stats = stats_data;
                this.updateLocations();
            });
        },
    }
</script>