<template>
    <div id="container">
        <div id="map-id" class="map-id">
             <div v-bind:class="[ filter_toggle ? 'filter-active': 'notActive' ]">
                 <div class="col-md-5" style="padding: 0;">
                    <el-select
                        v-model="filter_nodes.numbers"
                        multiple
                        filterable
                        remote
                        placeholder="Filter by phone numbers"
                        :remote-method="filterInput"
                        :loading="loading">
                        <el-option
                          v-for="node in nodes"
                          :key="node.data.id"
                          :label="node.data.id"
                          :value="node.data.id">
                        </el-option>
                  </el-select>
                </div>
                 <div class="col-md-5" style="padding: 0;">
                     <el-date-picker
                         v-model="filter_nodes.time"
                         type="datetimerange"
                         placeholder="Pick a range">
                    </el-date-picker>
                 </div>
                 <div class="col-md-1" style="padding: 0;">
                     <button class="btn btn-success" @click="filterMap">Filter</button>
                 </div>
                  <div class="col-md-1" style="padding: 0;">
                     <button class="btn btn-success" @click="getWorkspace">Cancel</button>
                 </div>
             </div>

        </div>
    </div>

</template>
<script>
    import L from 'leaflet';
    import 'leaflet-offline';
    import 'leaflet.markercluster';
    import "leaflet.markercluster/dist/MarkerCluster.Default.css";
    import Moment from 'moment';
    import { extendMoment } from 'moment-range';
    const moment = extendMoment(Moment);
    let localforage = require('localforage');
    import { mapActions } from 'vuex';

    export default {
        data: function () {
            return{
                locations:[],
                 map: null,
                tileLayer: null,
                filter_nodes: {
                    numbers: [],
                    time: ''
                },
                filtered_nodes: [],
                loading: false,
            }
        },
        computed: {
             filter_toggle() {
                return this.$store.getters.mapFilters;
            },
            nodes(){
                return this.$store.getters.workspace_nodes;
            }
        },

        methods: {
            ...mapActions([
                'listenToRightBarToggle',
                'centralityBarControl',
                'listenToSearchToggle',
                'listenToStatsToggle',
                'listenToNodeChanges',
                'listenToMapFiltersToggle'
            ]),

            filterInput: function (query) {
                if (query !== '') {
                    this.loading = true;
                    setTimeout(() => {
                        this.loading = false;
                        this.nodes = this.list.filter(item => {
                            return item.label.toLowerCase().indexOf(query.toLowerCase()) > -1;
                        });
                    }, 200);
                }
                else {
                    this.nodes = [];
                }
            },

            initMap: function () {
                let self = this;
                let tilesDb = {
                    getItem: function (key) {
                        return localforage.getItem(key);
                    },
                    saveTiles: function (tileUrls) {
                        let self = this;
                        let promises = [];
                        for (let i = 0; i < tileUrls.length; i++) {
                            let tileUrl = tileUrls[i];
                            (function (i, tileUrl) {
                                promises[i] = new Promise(function (resolve, reject) {
                                    let request = new XMLHttpRequest();
                                    request.open('GET', tileUrl.url, true);
                                    request.responseType = 'blob';
                                    request.onreadystatechange = function () {
                                        if (request.readyState === XMLHttpRequest.DONE) {
                                            if (request.status === 200) {
                                                resolve(self._saveTile(tileUrl.key, request.response));
                                            } else {
                                                reject({
                                                    status: request.status,
                                                    statusText: request.statusText
                                                });
                                            }
                                        }
                                    };
                                    request.send();
                                });
                            })(i, tileUrl);
                        }
                        return Promise.all(promises);
                    },

                    clear: function () {
                        return localforage.clear();
                    },

                    _saveTile: function (key, value) {
                        return this._removeItem(key).then(function () {
                            return localforage.setItem(key, value);
                        });
                    },
                    _removeItem: function (key) {
                        return localforage.removeItem(key);
                    }
                };

                self.map = L.map('map-id');
                let offlineLayer = L.tileLayer.offline('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', tilesDb, {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap | Bluetics</a>'
                });

                let offlineControl = L.control.offline(offlineLayer, tilesDb, {
                    saveButtonHtml: '<i class="fa fa-download" aria-hidden="true"></i>',
                    removeButtonHtml: '<i class="fa fa-trash" aria-hidden="true"></i>',

                    confirmSavingCallback: function (nTilesToSave, continueSaveTiles) {
                        if (window.confirm('Save ' + nTilesToSave + '?')) {
                            continueSaveTiles();
                        }
                    },
                    confirmRemovalCallback: function (continueRemoveTiles) {
                        if (window.confirm('Remove all the tiles?')) {
                            continueRemoveTiles();
                        }

                    },
                });

                let filterLayer = L.Control.extend({
                    options: {
                        position: 'topleft'
                    },
                    onAdd: function () {
                        return L.DomUtil.create('div', 'leaflet-control-zoom leaflet-bar leaflet-control filter-control');
                    },
                    setContent: function (content) {
                        this.getContainer().innerHTML = content;
                    }
                });

                let filterLayerHTML = new filterLayer().addTo(self.map);
                filterLayerHTML.setContent('<a><i class="fa fa-filter" id="filterButton" aria-hidden="true"></i></a>');
                $('#filterButton').click(self.filterActivate);

                offlineLayer.addTo(self.map);
                offlineControl.addTo(self.map);

                self.map.setView({
                    lat: 1.2921,
                    lng: 36.8219
                }, 6);
            },

            filterActivate: function () {
                let new_status = !this.$store.getters.mapFilters;
                this.listenToMapFiltersToggle(new_status);
            },

            getWorkspace: function () {
                let self = this;
                axios.get('/workspace/main_workspace').then(function (response) {
                    self.listenToNodeChanges(response.data.workspace[0].content.elements.nodes);
                    self.getNodeLocations();
                });

            },

            getNodeLocations: function () {
                let nodes = [];
                let workspace_nodes = this.filter_nodes.numbers.length ? this.filtered_nodes : this.nodes;
                for (let i = 0; i < workspace_nodes.length; i++) {
                    nodes.push(workspace_nodes[i].data.id);
                }
                if (nodes.length) {
                    axios.post('/map/locations', nodes).then(response => {
                        this.locations = response.data.result;
                        if (this.locations)
                            this.makePlots();
                    })
                }
            },

            makePlots: function () {
                let plotLocations = [];
                let markers = L.markerClusterGroup({
                    spiderfyOnMaxZoom: true,
                    showCoverageOnHover: false,
                    zoomToBoundsOnClick: true
                });

                if (this.filter_nodes.time.length) {
                    let startDate = this.filter_nodes.time[0];
                    let endDate = this.filter_nodes.time[1];
                    let range = moment().range(startDate, endDate);
                    this.locations.filter(location => {
                        if(range.contains(moment(location.datetime)))
                            plotLocations.push(location);
                    });
                }
                else {
                    plotLocations = this.locations;
                }

                for (let i = 0; i < plotLocations.length; i++) {
                    let title = plotLocations[i].caller +
                        ' <i class="fa fa-arrow-right" aria-hidden="true"></i> '
                        + plotLocations[i].callee + '<p class="detail-time">' + plotLocations[i].datetime + "</p>";
                    let marker = L.marker(
                        L.latLng([plotLocations[i].latitude, plotLocations[i].longitude]),
                        {title: title}
                    );

                    marker.bindPopup(title);
                    markers.addLayer(marker);
                }

                this.map.addLayer(markers);
            },

            filterMap: function () {
                this.filtered_nodes = [];

                if (this.filter_nodes.numbers.length) {
                    this.map.eachLayer(layer => {
                        if (layer.options && layer.options.pane === "markerPane" || layer.options.pane === "overlayPane") {
                            this.map.removeLayer(layer);
                        }
                    });
                    this.filter_nodes.numbers.forEach(datum => {
                        this.nodes.filter(node => {
                            if (node.data.id == datum)
                                this.filtered_nodes.push(node);
                        })
                    });
                    this.getNodeLocations()
                }
                else {
                    this.getWorkspace();
                }
            }
        },

        mounted: function () {
            this.listenToSearchToggle(false);
            this.listenToRightBarToggle(false);
            this.listenToStatsToggle(false);
            this.centralityBarControl(false);
            this.initMap();
            if(!Object.keys(this.$store.getters.workspace_nodes).length)
            {
                this.getWorkspace();
            }
            else{
                this.getNodeLocations();
            }
        }
    }

</script>
<style scoped>
    #container {
        height: 100%;
        width: 100%;
        position: fixed;
        margin: 0;
        padding: 0;
        top: 56px;
        left: 0;
    }

    #map-id {
        height: 100%;
        width: 100%;
    }
</style>