<template>
    <div class="col-md-12">
        <div class="results-holder" v-if="search_results.length">
            <card class="draggable" v-for="item in search_results"  :phone_number="item.phone_number" :card-id="item.phone_number"></card>
            <div class="pagination" v-if="pagination.total>10">
                <ul style="display: inline;">
                    <li style="margin-right: 10px">
                        {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                    </li>
                    <li>
                        Rows per page
                        <select name="" id="" v-model="limit" @change="addItems(limit)">
                            <option value="10" v-if="pagination.total>10">10</option>
                            <option value="25" v-if="pagination.total>25">25</option>
                            <option value="50" v-if="pagination.total>50">50</option>
                            <option value="100" v-if="pagination.total>100">100</option>
                        </select>
                    </li>
                    <li>
                        <a @click="search(pagination.current_page-1)"
                           :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a @click="search(pagination.current_page+1)"
                           :disabled="!pagination.next_page_url"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import interact from 'interactjs';
    import card from './Card.vue';
    import EventBus from '../event-bus';
    export default {

        data: function () {
            return {
                phoneNumberSearchUrl:'/search/phone/',
                search_results: [],
                limit: 10,
                phone_number: '',
                pagination: {},
                perPage: 0,
                input: {
                    phone_number : this.phone_number,
                    filter_param: ''
                }
            }
        },

        components: {
            card
        },

        methods:{
            search: function (page=null) {
                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.perPage = this.limit;

                axios.post(this.phoneNumberSearchUrl, {
                    phone_number: this.input.phone_number,
                    filter_item: this.input.filterParam.item,
                    filter_value: this.input.filterParam.value
                }).then(response => {
                    this.search_results = response.data.result;
                    this.setUp();
                });
            },

            addItems: function (limit) {
                this.perPage = limit;
                this.search();
            },

            move: function (phone_number, column_id) {
                let column = $("[column-id='"+column_id+"']");
                let card = $("[card-id='"+phone_number+"']");

                // column.prepend(card);
                this.moveOnServer(phone_number);
                this.reset(card);
            },

            moveOnServer: function(phone_number){
                this.$root.workspace_number = phone_number ;

                EventBus.$emit('MOVED', this.$root.workspace_number);
            },

            reset: function(card){
                card.attr('data-x', 0);
                card.attr('data-y', 0);
                card.css('transform', 'none');
                card.css('position', 'relative');
                card.css('z-index', 0);
            },

            setUp : function () {
                let vm = this;
                interact('.draggable')
                    .draggable({
                        inertia: true,
                        autoScroll: true,
                        onmove: dragMoveListener
                    })
                    .on('dragend', function (evt) {
                        if(evt.dropzone === undefined)
                        {
                            let target = $(evt.target);
                            vm.reset(target);
                        }
                    });

                interact('.dropzone').dropzone({
                    overlap: 0.50,
                    ondropactivate: function (event) {
                        event.target.classList.add('drop-active');
                    },
                    ondragenter: function (event) {
                        let dropzoneElement = event.target;

                        dropzoneElement.classList.add('drop-target');
                    },
                    ondragleave: function (event) {
                        event.target.classList.remove('drop-target');
                    },
                    ondrop: function (event) {
                        let target = $(event.relatedTarget);

                        vm.move(target.attr('card-id'), $(event.target).attr('column-id'));
                    },
                    ondropdeactivate: function (event) {
                        event.target.classList.remove('drop-active');
                        event.target.classList.remove('drop-target');
                    }
                });
            }
        },

        mounted: function () {
            Event.$on('filtering', (filter) => {
                this.input=filter;
                this.search(1);
            });
            this.setUp();
        }
    }

    function dragMoveListener (event) {
        let target = event.target,
            x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
            y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

        target.style.webkitTransform = target.style.transform =
                'translate(' + x + 'px, ' + y + 'px)';

        target.style['z-index'] = 1000;
        target.style['position'] = 'absolute';

        target.setAttribute('data-x', x);
        target.setAttribute('data-y', y);
    }
</script>
