<template>
    <div class="row settings-main" v-bind:style="{color: active_theme.text_color}">
        <div class="col-3 settings-menu" v-bind:style="{background: active_theme.workspace_background}">
            <div class="menu-holder" v-bind:style="{background: active_theme.sidebars_background}">
                <div class="settings-title">
                    <p class="setting-title" v-bind:style="{color: active_theme.text_color, background: active_theme.accent_color }">
                    <i class="icon-settings"></i> User Settings</p>
                </div>
                <div class="settings-tabs">
                    <ul class="nav nav-tabs nav-stacked">
                      <li><a href="#themes" data-toggle="tab">Themes</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9 settings-content" v-bind:style="{background: active_theme.workspace_background}">

            <div class="tab-content clearfix" v-bind:style="{background: active_theme.sidebars_background, color: active_theme.text_color}">
                <div class="tab-pane active" id="themes">
                    <div class="row" v-for="theme in themes">
                        <div class="col-1 theme-selector">
                            <input type="checkbox" name="selected_theme" :checked="theme.slug == active_theme.slug" @click="changeTheme(theme.slug)"/>
                        </div>
                        <div class="col-4 theme-name">
                            <p>{{theme.name}}</p>
                        </div>
                        <div class="col-7 theme-image">
                            <div class="image-holder">
                                <img :src="theme.image"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: "Settings",
        data: function () {
            return{
                theme: {},
                themes: []
            }
        },
        methods: {
             ...mapActions([
                 'listenToThemeChange',
                 'centralityBarControl',
                 'listenToSearchToggle',
                 'listenToStatsToggle',
                 'listenToDetailToggle'
             ]),

            getAllThemes: function () {
                  let self = this;
                 axios.get('/settings/all_themes').then(function (response) {
                    self.themes = response.data.data;
                 });
            },
            changeTheme: function(slug) {
                 let self = this;
                 let result = self.themes.filter(obj => {
                    return obj.slug === slug
                });
                let new_theme = result[0];
                axios.post('/settings/theme', new_theme).then(function (response) {
                    self.listenToThemeChange(new_theme);
                });
            }
        },
        computed: {
            active_theme() {
                return this.$store.getters.theme;
            }
        },
        mounted: function () {
            this.listenToSearchToggle(false);
            this.listenToDetailToggle(false);
            this.listenToStatsToggle(false);
            this.centralityBarControl(false);
            this.getAllThemes();
            if(!this.$store.getters.theme)
                 this.$store.dispatch('getActiveTheme');
        }
    }
</script>

<style scoped>

</style>