<template>
    <div class="row sms-container">
        <div v-bind:class="[partner ? 'col-md-4': 'col-md-12']" class="dropzone list">
            <div v-show="target">
                <div class="list-header">Inbox for {{ target }}</div>
                <div class="list-container">
                    <vue-scroll :ops="scrollOptions">
                        <div v-for="item in chats"
                             v-bind:key="item.id"
                             v-bind:class="[item.id === partner ? 'active' : '']"
                             @click="getChat(item.id)" class="list-item">
                            <span class="pull-right badge badge-info">{{ item.frequency }}</span>
                            <span class="item-title">{{ item.id }}</span>
                        </div>
                    </vue-scroll>
                </div>
            </div>
        </div>

        <div v-if="partner" class="col-md-8 details">
            <el-input placeholder="Search..." suffix-icon="el-icon-search" v-model="searchParam" clearable>
            </el-input>
            <div class="details-container">
                <vue-scroll :ops="scrollOptions">
                    <div v-for="item in filteredMessages" v-bind:key="item.id" class="details-item">
                        <div v-bind:class="[item.sender === partner ? 'message': 'message text-right']">
                            <div class="message-sender">{{ item.sender + ': ' }}</div>
                            <div class="message-content">{{ item.content }}</div>
                            <div class="message-date">{{ moment(item.date_sent).format('LLLL') }}</div>
                        </div>
                    </div>
                </vue-scroll>
            </div>
        </div>
    </div>
</template>

<script>
    import EventBus from '../event-bus';
    import { mapActions } from 'vuex';
    export default {
        name: "sms",
        data() {
            return {
                scrollOptions: {

                },
                target: '',
                partner: '',
                searchParam: '',
                chats: [
                    {id: "0712324534", frequency: 8},
                    {id: "2434", frequency: 30},
                    {id: "MPESA", frequency: 200},
                    {id: "9323121", frequency: 43},
                    {id: "0712832234", frequency: 15}
                ],
                messages: [
                    {id: 1, content: 'hmm...', sender: '702832242', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 2, content: 'Lorem ipsum', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 3, content: 'Do re mi fa so', sender: '0712832234', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 4, content: 'the other day', sender: '702832242', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 6, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 7, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 8, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 9, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 10, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 11, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 13, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 14, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 16, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 17, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 18, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 19, content: 'good morning good mornin ggood morning good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 20, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 21, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 22, content: 'good morning good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 23, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 24, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 25, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 26, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 27, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 28, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                    {id: 29, content: 'good morning', sender: '0712324534', date_sent: '2018-09-06 09:31:52.010024+03'},
                ]
            }
        },
        computed: {
            filteredMessages() {
                return this.messages.filter(message => {
                    return message.content.toUpperCase().indexOf(this.searchParam.toUpperCase()) !== -1
                });
            }
        },
        methods: {
             ...mapActions([
                 'listenToDetailToggle',
                 'centralityBarControl',
                 'listenToSearchToggle',
                 'listenToStatsToggle',
                 'listenToSMSToggle'
             ]),

            getChat(id) {
                this.partner = id;
            }
        },
        mounted() {
            this.listenToStatsToggle(false);
            this.listenToSearchToggle(true);
            this.listenToDetailToggle(false);
            this.centralityBarControl(false);
            this.listenToSMSToggle(true);
            Event.$emit('smsDetails');

            EventBus.$on('MOVED', number => {
                this.target = number;
            });
        }
    }
</script>

<style scoped>
    .sms-container {
        margin-right: 0 !important;
    }
    .list, .details {
        height: 100%;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear;
    }
    .list {
        color: rgba(225,235,245,.87);
        background-color: #16202f;
    }
    .list-header {
        margin-bottom: .5rem;
        padding-top: .5rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .list-item {
        display: block;
        position: relative;
        padding: 12px 16px;
        cursor: pointer;
    }
    .list-item::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-bottom: 1px solid rgba(120,130,140,.065);
    }
    .list-item.active {
        background-color: rgb(32, 168, 216);
    }
    .item-title {

    }
    .details {
        background-color: #F6FAFB;
        color: rgba(0,0,0,.87);
    }
    .message-sender {
        font-size: 1rem;
    }
    .message-content {
        padding: .5rem 1rem .5rem 1rem;
        border-radius: 15px;
        background-color: #e2e2e4;
        display: inline-block;
    }
    .message-date {
        font-size: .8rem;
    }
</style>