<template id="details_section">
    <div class="details_wrapper">
        <div v-if="!loading">
            <div class="detail-holder" v-if="device != undefined && Object.keys(device).length">
                <p><b>Source: </b>Jasusi Search</p>
                <p><b>Email: </b>{{device.assignment.operatoremail}}</p>
                <p><b>Name: </b>{{device.assignment.operatorusername}}</p>
                 <p><b>Brand: </b>{{device.brand}}</p>
                <p><b>IMEI: </b>{{device.devIMEI}}</p>
                 <p><b>IMSI:</b>{{device.devIMSI}}</p>
                <p><b>Account: </b>{{device.devaccount}}</p>
                <p><b>Type: </b>{{device.type}}</p>
            </div>
            <div class="detail-holder" v-else>
                <h5>No Device Info Found</h5>
            </div>
        </div>
        <div style="text-align: center; padding-top: 2%" v-else>
            <h2><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> </h2>
        </div>
    </div>
</template>

<script>
    export default {
      computed: {
            device() {
                return this.$store.getters.device;
            },
          active_theme() {
                return this.$store.getters.theme;
            },
          loading() {
                return this.$store.getters.loading;
            }
        },
        mounted: function () {
             if(!this.$store.getters.theme)
                this.$store.dispatch('getActiveTheme');
        }
    }
</script>

<style scoped>
.detail-holder {
    padding: 1%;
    font-size: 12px;
}
</style>