<template>
<div id="upload" class="row upload">
    <div class="col-md-12">
        <form enctype="multipart/form-data" class="dropzone">
            <p class="upload-label">Drag and drop a file or click to upload a file</p>
            <input type="file" accept=".xls, .xlsx, text/html, text/csv, .csv"/>

            <div id="animation">
              <svg id="phones" width="100px" height="300px" viewBox="0 0 100 300">

                <g id="a" style="display: none;">
                  <path g d="M 26 70C 26 70 59 70 59 70 59 70 64 45 64 45 64 45 64 6 64 6 64 6 69 6 69 6 69 6 69 45 69 45 69 45 73 70 73 70 73 70 76 70.75 76 74 76 75.75 76 125.33 76 125.33 76 125.33 76 153.83 76 153.83 76 153.83 76 290 76 290 76 290 75.5 294 73 294 72.25 294 26 294 26 294 23.37 294 23 290 23 290 23 290 23 154.17 23 154.17 23 154.17 23 125.5 23 125.5 23 125.5 23 74 23 74 23 70.75 26 70 26 70Z" fill="rgb(45,44,46)"/>
                  <rect x="28" y="125" width="42" height="29" fill="rgb(255,255,255)"/>
                </g>

                <g id="b" style="display: none;">
                  <path g d="M 48.5 134.5C 67.33 134.33 73 136 73 136 73 136 73 111 73 111 73 111 73 82 73 82 73 82 79 82 79 82 79 82 79 111 79 111 79 111 79 135 79 135 79 135 79 139 79 139 79 139 79 164 79 164 79 164 79 208.67 79 208.67 79 208.67 79 290 79 290 79 290 78.12 293.87 75 294 73.25 294 24 294 24 294 21.13 294 20 290 20 290 20 290 20 208.5 20 208.5 20 208.5 20 163.83 20 163.83 20 163.83 20 139 20 139 20 139 30.67 134.5 48.5 134.5Z" fill="rgb(45,44,46)"/>
                  <rect x="25" y="164" width="47" height="44" fill="rgb(255,255,255)"/>
                </g>

                <g id="c" style="display: none;" data-easing="quart-in-out" data-duration="500">
                  <path g d="M 34 159C 36.94 158 45 157 45 157 45 157 49 157 49 157 49 157 50 157 50 157 50 157 51 157 51 157 51 157 55 157 55 157 55 157 62.44 157.88 65 159 65.87 159.44 69.75 160.56 72 165 75.63 172.63 76.88 176.38 77 197.17 77.38 220.75 73 233.33 73 233.33 73 233.33 73 290 73 290 73.06 293.62 70 294 70 294 70 294 30 294 30 294 27.44 294 27 290 27 290 27 290 27 232.83 27 232.83 27 232.83 23 218.12 23 197.17 23.12 175.63 25.63 170.88 28 165 30.5 160.37 34 159 34 159Z" fill="rgb(45,44,46)"/>
                  <rect x="31" y="194" width="37" height="26" fill="rgb(255,255,255)"/>
                </g>

                <g id="d" style="display: none;">
                  <path g d="M 33 172C 36.33 170 40 170 40 170 40 170 46 170 46 170 46 170 50 170 50 170 50 170 53 170 53 170 53 170 60 170 60 170 60 170 64.06 170.09 67 172 68.97 173.72 69.83 174.5 72 181 74.67 189.83 74 197.33 74 197.33 74 197.33 74 225.83 74 225.83 74 225.83 74 290 74 290 74.06 293.12 71 294 71 294 71 294 29 294 29 294 26.44 293.94 26 290 26 290 26 290 26 226.17 26 226.17 26 226.17 26 197.5 26 197.5 26 197.5 26.17 188.17 28 182 29.67 175.67 30.97 173.47 33 172Z" fill="rgb(45,44,46)"/>
                  <rect x="31" y="196" width="37" height="25" fill="rgb(255,255,255)"/>
                </g>

                <g id="e" style="display: none;">
                  <path g d="M 32 165C 32 165 43 165 43 165 43 165 43 178 43 178 43 178 43 182 43 182 43 182 43 186 43 186 43 186 43 193 43 193 43 193 46.63 191.94 55 192 65 192 74 196 74 196 74 196 74 216.33 74 216.33 74 216.33 74 244.83 74 244.83 74 244.83 74 277 74 277 74.12 289 71 294 71 294 71 294 29 294 29 294 29 294 26 287.88 26 277 26 276.22 26 245.17 26 245.17 26 245.17 26 216.5 26 216.5 26 216.5 26 196 26 196 26 196 32 165 32 165Z" fill="rgb(45,44,46)"/>
                  <rect x="31" y="206" width="37" height="25" fill="rgb(255,255,255)"/>
                </g>

                <g id="f" style="display: none;" data-easing="quart-in-out" data-duration="500">
                  <path g d="M 31.16 192.73C 31.16 192.73 31.22 192.67 31.22 192.67 31.22 192.67 31.31 192.61 31.31 192.61 31.31 192.61 39.48 190 48.94 190 60.08 189.98 68.62 192.59 68.62 192.59 68.62 192.59 68.69 192.67 68.69 192.67 68.69 192.67 68.77 192.8 68.77 192.8 68.77 192.8 68.8 192.92 68.8 192.92 68.8 192.92 68.83 193 68.83 193 68.83 193 72 232.06 72 240.83 72 276 69 292 69 292 69 292 63.38 294.94 51 295 49.12 295.25 48 295 48 295 35.5 295 30 292 30 292 30 292 27 275.81 27 241.17 27 231.94 31.03 192.94 31.03 192.94 31.03 192.94 31.08 192.83 31.08 192.83 31.08 192.83 31.16 192.73 31.16 192.73Z" fill="rgb(45,44,46)"/>
                  <rect x="33" y="212" width="33" height="23" fill="rgb(255,255,255)"/>
                </g>

                <g id="g" style="display: none;">
                  <path g d="M 28 189C 28 189 35 189 35 189 35 189 42 189 42 189 42 189 49 189 49 189 49 189 56 189 56 189 56 189 64 189 64 189 64 189 72 189 72 189 74.81 190.44 75 193 75 193 75 193 75 244.33 75 244.33 75 244.33 75 272.83 75 272.83 75 272.83 75 290 75 290 73.94 293.31 72 294 72 294 72 294 28 294 28 294 25.69 293.06 25 290 25 290 25 290 25 273.17 25 273.17 25 273.17 25 244.5 25 244.5 25 244.5 25 193 25 193 25.63 190.13 28 189 28 189Z" fill="rgb(45,44,46)"/>
                  <rect x="30" y="203" width="40" height="52" fill="rgb(255,255,255)"/>
                </g>

                <g id="h" style="display: none;">
                  <path g d="M 21 170C 21 170 28 170 28 170 28 170 35 170 35 170 35 170 42 170 42 170 42 170 49 170 49 170 49 170 57 170 57 170 57 170 79 170 79 170 81.81 171.44 82 174 82 174 82 174 82 244.33 82 244.33 82 244.33 82 272.83 82 272.83 82 272.83 82 290 82 290 80.94 293.31 79 294 79 294 79 294 21 294 21 294 18.69 293.06 18 290 18 290 18 290 18 273.17 18 273.17 18 273.17 18 244.5 18 244.5 18 244.5 18 174 18 174 18.62 171.13 21 170 21 170Z" fill="rgb(45,44,46)"/>
                  <rect x="23" y="190" width="54" height="83" fill="rgb(255,255,255)"/>
                </g>

                <g id="i" style="display: none;">
                  <path g d="M 18 158C 18 158 25 158 25 158 25 158 32 158 32 158 32 158 39 158 39 158 39 158 46 158 46 158 46 158 54 158 54 158 54 158 82 158 82 158 84.81 159.44 85 162 85 162 85 162 85 244.33 85 244.33 85 244.33 85 272.83 85 272.83 85 272.83 85 290 85 290 83.94 293.31 82 294 82 294 82 294 18 294 18 294 15.69 293.06 15 290 15 290 15 290 15 273.17 15 273.17 15 273.17 15 244.5 15 244.5 15 244.5 15 162 15 162 15.63 159.13 18 158 18 158Z" fill="rgb(45,44,46)"/>
                  <rect x="20" y="175" width="60" height="100" fill="rgb(255,255,255)"/>
                </g>

                <g id="j" style="display: none;">
                  <path g d="M 18 149C 18 149 25 149 25 149 25 149 32 149 32 149 32 149 39 149 39 149 39 149 46 149 46 149 46 149 54 149 54 149 54 149 82 149 82 149 84.81 150.44 85 153 85 153 85 153 85 244.33 85 244.33 85 244.33 85 272.83 85 272.83 85 272.83 85 290 85 290 83.94 293.31 82 294 82 294 82 294 18 294 18 294 15.69 293.06 15 290 15 290 15 290 15 273.17 15 273.17 15 273.17 15 244.5 15 244.5 15 244.5 15 153 15 153 15.63 150.13 18 149 18 149Z" fill="rgb(45,44,46)"/>
                  <rect x="20" y="161" width="60" height="120" fill="rgb(255,255,255)"/>
                </g>

                <g id="k" style="display: none;">
                  <path g d="M 6 109C 6 109 61 109 61 109 61 109 68 109 68 109 68 109 75 109 75 109 75 109 82 109 82 109 82 109 90 109 90 109 90 109 93 109 93 109 95.81 110.44 96 113 96 113 96 113 96 244.33 96 244.33 96 244.33 96 272.83 96 272.83 96 272.83 96 290 96 290 94.94 293.31 93 294 93 294 93 294 6 294 6 294 3.69 293.06 3 290 3 290 3 290 3 273.17 3 273.17 3 273.17 3 244.5 3 244.5 3 244.5 3 113 3 113 3.62 110.12 6 109 6 109Z" fill="rgb(45,44,46)"/>
                  <rect x="8" y="126" width="83" height="147" fill="rgb(255,255,255)"/>
                </g>

              </svg>
            </div>

        </form>
    </div>
    <div class="col-md-12">
    </div>

    <!-- Modal -->
    <div class="modal fade mapper-modal" id="wizardModal" tabindex="-1" role="dialog" aria-labelledby="wizardTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="wizardTitle">Let us organize your CDR</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-12 text-center inst-holder">
                    <strong>Drag outlier to appropriate standard header</strong>
                </div>
                <div class="col-md-5 outlier-holder">
                        <h5>Outlier(s)</h5>
                        <div class="draggable-main"  v-for="(header, index) in invalid_headers">
                            <div class="draggable" :key="index" :card-id="header">
                                <p> {{ header }}</p>
                            </div>
                        </div>
                </div>

                <div class="col-md-2">
                </div>
                <div class="col-md-5 standard-holder">
                    <h5>Standard Headers</h5>
                    <div class="headers-container">
                        <div class="" v-for="header in schemaHeaders">
                             <div class="dropzone drop-holder" :column-id="header">
                                 <p class="mapper-holder">{{header}}</p>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="updateSchema()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
    import SVGMorpheus from '../../../bower_components/svg-morpheus';
    import draggable from 'vuedraggable';
    import interact from 'interactjs';
    import { mapActions } from 'vuex';

    export default {
        components: {
            draggable
        },
        data: function () {
            return{
                 upload_info: {
                     file: null,
                     target: ''
                 },
                 standard_headers: [],
                 header_holder:[],
                 invalid_headers: [],
                 new_list: [],
                new_maps:{},
                generated: {},
                cdr_upload_url: '/cdr/upload/',
                schema_update_url: '/schema/update/',
                cdr_file: null,
                file_name: '',
            }
        },
        computed:{
            schemaHeaders () {
                return [...new Set(this.header_holder.map(p => p))]
            }
        },
        methods: {
            ...mapActions([
                'listenToDetailToggle',
                'listenToSearchToggle',
                'listenToStatsToggle',
                'listenToSMSToggle',
                'centralityBarControl'
             ]),
            inspectFile(e) {
                let files = e.target.files || e.dataTransfer.files;

                if (!files.length)
                    return;

                this.cdr_file = files[0];
                if (this.accept && $.inArray(file.type, this.accept.split(/, ?/)) == -1) {
                    return alert('File type not allowed.');
                }
                this.prepareFileUpload();
            },
            prepareFileUpload: function() {
                this.$prompt('Let us name your CDR', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(value => {
                    this.file_name = JSON.stringify(value.value);
                    this.initFileUpload(this.cdr_file)
                }).catch(() => {
                    this.cdr_file = null;
                });
            },
            initFileUpload(file) {
                let formData = new FormData();
                formData.append('file', file);
                formData.append('file_name', this.file_name);
                axios.post(this.cdr_upload_url,
                    formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: () => {
                            $('.dropzone p').text("Uploading ... ");
                            this.initAnimation();
                        }
                    }
                ).then(response => {
                    if (response.data.success) {
                        $('.dropzone p').text("Upload successful");
                        document.getElementById("animation").style.display = "none";
                    }
                    else {
                        this.invalid_headers = response.data.outliers;
                        this.standard_headers = response.data.schema;
                        for (let key in this.standard_headers) {
                            if (this.standard_headers.hasOwnProperty(key)) {
                                this.header_holder.push(this.standard_headers[key]);
                            }
                        }

                        this.initWizard();
                    }

                })
                    .catch(function () {
                        document.getElementById("animation").style.display = "none";
                        $('.dropzone p').text("An error occurred during upload");
                    });
            },

            initAnimation() {
                document.getElementById("animation").style.display = "block";
                let CONFIG = {
                    duration: 1000,
                    easing: 'elastic-out',
                    rotation: 'none',
                };

                let phonesInfo = [].slice.call(document.getElementsByTagName('g'), 0).map(function (el) {
                    return {
                        id: el.getAttribute('id'),
                        easing: el.getAttribute('data-easing') || CONFIG.easing,
                        duration: el.getAttribute('data-duration') || CONFIG.duration
                    };
                });
                let phonesLen = (phonesInfo.length - 1);

                let now, delta;
                let interval = 1500 * 1;
                let then = +new Date();
                let index = 0;

                let M = new SVGMorpheus('#phones', CONFIG);

                update();
                loop();

                function update() {
                    let p = phonesInfo[index++];

                    M.to(p.id, {
                        easing: p.easing,
                        duration: p.duration
                    });

                    if (index > phonesLen) index = 0;
                    p = null;
                }

                function loop() {
                    requestAnimationFrame(loop);

                    now = +new Date();
                    delta = now - then;

                    if (delta > interval) {
                        then = now - (delta % interval);
                        update();
                    }
                }
            },

            initDropzone: function () {
                $('.dropzone').on('dragover', () => {
                    $(this).addClass('hover');
                });

                $('.dropzone').on('dragleave', () => {
                    $(this).removeClass('hover');
                });

                $('.dropzone input').on('change', e => {
                    this.inspectFile(e);
                });
            },
            initWizard: function () {
                $("#wizardModal").modal("show");
            },

            move: function (outlier, standard) {

                let column = $("[column-id='" + standard + "']");
                let card = $("[card-id='" + outlier + "']");
                if (card.attr('outlier') !== standard) {
                    column.prepend(card);
                    this.moveOnServer(outlier.toLowerCase(), standard);
                }
                this.reset(card);
            },

            moveOnServer: function (outlier, standard) {
                let self = this;
               self.new_maps[outlier] = standard;
            },

            updateSchema: function(){
                let self = this;
                if(Object.keys(self.new_maps).length)
                {
                  const new_headers = Object.assign({}, self.standard_headers, self.new_maps);
                  axios.post(self.schema_update_url, {schema: new_headers}).then(function (response) {

                       $("#wizardModal").modal("hide");

                       self.initFileUpload(self.cdr_file);

                  }).catch(function (response) {
                      console.log(response.data);
                  });
                }
                else{
                    alert("No Changes Detected!");
                }
            },
            reset: function (card) {
                card.attr('data-x', 0);
                card.attr('data-y', 0);
                card.css('transform', 'none');
                card.css('position', 'relative');
                card.css('z-index', 0);
            },

            setUp: function () {
                let vm = this;
                interact('.draggable')
                    .draggable({
                        inertia: true,
                        autoScroll: {
                            container: document.getElementsByClassName('headers-container')[0]
                        },
                        onmove: dragMoveListener
                    })
                    .on('dragend', function (evt) {
                        if (evt.dropzone === undefined) {
                            let target = $(evt.target);
                            console.log('new target is ', target);
                            vm.reset(target);
                        }
                    });

                interact('.dropzone').dropzone({
                    overlap: 0.50,
                    ondropactivate: function (event) {
                        event.target.classList.add('drop-active');
                    },
                    ondragenter: function (event) {
                        let dropzoneElement = event.target;

                        dropzoneElement.classList.add('drop-target');
                    },
                    ondragleave: function (event) {

                        event.target.classList.remove('drop-target');
                    },
                    ondrop: function (event) {
                        let target = $(event.relatedTarget);

                        vm.move(target.attr('card-id'), $(event.target).attr('column-id'));
                    },
                    ondropdeactivate: function (event) {
                        event.target.classList.remove('drop-active');
                        event.target.classList.remove('drop-target');
                    }
                });

                interact.dynamicDrop(true);
            }
        },

        mounted: function () {
            this.initDropzone();
            this.setUp();
            this.listenToSearchToggle(false);
            this.listenToStatsToggle(false);
            this.listenToDetailToggle(false);
            this.listenToSMSToggle(false);
            this.centralityBarControl(false);
        }
    }

    function dragMoveListener(event) {
        let target = event.target,
            x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
            y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

        target.style.webkitTransform =
            target.style.transform =
                'translate(' + x + 'px, ' + y + 'px)';

        target.style['z-index'] = 1000;
        target.style['position'] = 'absolute';

        target.setAttribute('data-x', x);
        target.setAttribute('data-y', y);
    }

</script>

<style scoped>
.dropzone {
    position: relative;
    border: 2px dashed #FFF;
    border-radius: 20px;
    height: 400px;
    margin: 30px auto;
    text-align: center;
    width: 50%;
}

.dropzone.hover {
    border: 3px solid #FE5;
    color: #FE5;
}

.dropzone p {
    position: absolute;
    top: 45%;
    left: 25%;
    right: 25%;
    color: #000000;
}

.dropzone .upload-label {
    color: #ffffff;
}

.dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

#animation {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    display: none;
}

.modal-dialog {
    top: 25%;
}
</style>