<template id="mytmp">
    <div class="workspaces">
        <div class="dropup" v-if="!createForm">
            <button class="btn btn-default" type="button" data-toggle="dropdown">
                Workspace - {{ currentWorkspace.name }}
            </button>
            <ul class="dropdown-menu action-list">
                <li><a href="#" @click="createForm = true">Create New</a></li>
                <li class="divider"></li>
                <li v-for="item in workspaces" class="workspace">
                    <div class="col-md-10" @click="switchWorkspace(item.id)">
                        <a href="#">{{ item.name }}</a>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-warning" title="Delete workspace"
                                @click="deleteWorkspace(item.id)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="newWorkspace.error" class="workspaceError">
            <p>Required</p>
        </div>
        <form v-if="createForm" class="workspaceForm">
            <div class="col-md-9">
                <input type="text" v-model="newWorkspace.name" placeholder="Enter workspace name..."/>
            </div>
            <div class="col-md-3">
                <button class="btn" @click="createWorkspace()">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            allWorkspacesUrl: '/workspace/all',
            getWorkspaceUrl: '/workspace/',
            saveWorkspaceUrl: '/workspace/save',
            workspaceManagementUrl: '/workspace/management',
            createForm: false,
            workspaces: [],
            currentWorkspace: {
                name: '',
                id: 0
            },
            newWorkspace: {
                name: 'Default workspace',
                error: false
            }
        }
    },

    methods: {
        getWorkspaces: function(){
            axios.get(this.allWorkspacesUrl).then(response => {
                this.workspaces = response.data.result;
                if (this.workspaces.length) {
                    const currentWorkspace = this.workspaces[0];

                    this.currentWorkspace.id = currentWorkspace.id;
                    this.currentWorkspace.name = currentWorkspace.name;
                    this.newWorkspace.name = '';

                    this.$emit('updateGraph', currentWorkspace.content);
                }
                else {
                    this.createWorkspace();
                }
            });
        },

        createWorkspace: function() {
            if(!this.newWorkspace.name) {
                this.newWorkspace.error = true;
            }
            else {
                this.newWorkspace.error = false;

                axios.post(this.workspaceManagementUrl, {name: this.newWorkspace.name}).then(() => {
                     this.createForm = false;
                     this.getWorkspaces();
                });
            }
        },

        switchWorkspace: function(id){
            if(id === this.currentWorkspace.id) {
                return;
            }
            axios.get(this.getWorkspaceUrl + id).then(response => {
                const currentWorkspace = response.data.result;

                this.currentWorkspace.name = currentWorkspace.name;
                this.currentWorkspace.id = currentWorkspace.id;

                this.$emit('updateGraph', currentWorkspace.content);
            });
        },

        saveWorkspace: function (content) {
            const payload = {
                content: content,
                id: this.currentWorkspace.id
            };

            axios.post(this.saveWorkspaceUrl, {input : payload });
        },

        deleteWorkspace:function(id){
            axios.delete(this.workspaceManagementUrl, {data: {id : id} }).then(() => {
                this.getWorkspaces();
            });
        },
    },

    mounted() {
        this.getWorkspaces();

        Event.$on('saveWorkspace', (data) => {
             this.saveWorkspace(data.content);
        });
    }
}
</script>

<style scoped>
    .workspaces {
        width: 200px !important;
        position:fixed;
        left: 0;
        bottom:0;
        border: solid #d3d3d3 1px;
    }
    .dropup {
        width: 100%;
    }
    .workspace {
        margin: .2em;
        height: auto;
        display: flex;
        cursor: pointer;
    }
    .workspace:hover {
        background-color: #eee;
    }
    .col-md-2 {
        padding: 0 !important;
    }
    .dropdown-menu.action-list {
        width: 100% !important;
    }
</style>