<template>
    <div>
        <form>
            <input type="number" class="el-input__inner" v-model="frequency_input" placeholder="Enter frequency to filter..." />
        </form>
        <table class="table table-hover" ref="statsFrequency">
            <thead>
            <tr>
                <td></td>
                <td>Number</td>
                <td>Frequency</td>
            </tr>
            </thead>
                    <tbody>
                        <tr v-for="item in filteredFrequency">
                            <td><i class="fa fa-phone"></i></td>
                            <td>{{ item.phone_number }}</td>
                            <td>{{ item.frequency }} calls</td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
 import { stats } from '../../index';
    export default {

        data: function () {
            return{
                relations:[],
                frequency_input: undefined,
            }
        },
          computed: {
            filteredFrequency () {
                let relations = this.relations;

                if (this.frequency_input) {
                    relations = relations.filter((item) => {
                        return item.frequency.toString().indexOf(this.frequency_input) !== -1
                    })
                }
                return relations;
            }
        },
        methods:{
            getFrequency: function () {
                 this.relations = [];

                for(var i in this.stats.relations) {
                    let relation = this.stats.relations[i];
                    if(relation.phone_number !== null) {
                        this.relations.push(relation);
                    }
                }
            }
        },
        mounted: function() {
             stats.$on('updateCy', (stats_data) => {
                 this.stats = stats_data;
                 this.getFrequency();
             });
        },
    }
</script>