<template>
    <el-dialog :title="modalTitle" :visible.sync="modalVisible" @close="closeModal">
        <form>
            <input type="number" class="el-input__inner" v-model="frequencyFilter" placeholder="Enter frequency to filter..." />
        </form>
        <table class="table table-hover" ref="stats-phones">
            <thead>
                <tr>
                    <td></td>
                    <td>Phone Number</td>
                    <td>Frequency</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in filteredStats">
                    <td><i class="fa fa-phone"></i></td>
                    <td>{{ item.phone_number }}</td>
                    <td>{{ item.frequency }} calls</td>
                </tr>
            </tbody>
        </table>
    </el-dialog>
</template>
<script>
    export default {

        data: function () {
            return{
                modalVisible: false,
                frequencyFilter: undefined
            }
        },
        props: {
            imei: String,
            stats: Array,
            isActive: Boolean
        },
        computed: {
            filteredStats () {
                let stats = this.stats;
                if (this.frequencyFilter) {
                    stats.filter((item) => {
                        return item.frequency.toString().indexOf(this.frequencyFilter) !== -1
                    })
                }
                return stats;
            },
            modalTitle () {
                return "Phone numbers used to make calls using IMEI " + this.imei;
            }
        },
        watch: {
            isActive (value) {
                this.modalVisible = value;
            }
        },
        methods: {
            closeModal () {
                this.$root.$emit("closeIMEIModal");
            }
        }
    }
</script>