<template>
    <div>
         <form>
            <input type="number" class="el-input__inner" v-model="frequency_input" placeholder="Enter frequency to filter..." />
        </form>

        <table ref="stats-locations" class="table">
            <thead>
                <tr>
                    <td>Latitude</td>
                    <td>Longitude</td>
                    <td>Frequency</td>
                    <td><router-link :to="{name: 'map', params: { locations }}"><i class="fa fa-map" aria-hidden="true"></i></router-link></td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in filteredFrequency">
                    <td>{{ item.latitude }}</td>
                    <td>{{ item.longitude }}</td>
                    <td>{{ item.frequency }}</td>
                    <div class="clear"></div>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    import { stats } from '../../index';
    export default {
        data: function(){
            return{
                 locations: [],
                frequency_input: undefined,
            }
        },
        computed: {
            filteredFrequency () {
                let locations = this.locations;

                if (this.frequency_input) {
                    locations = locations.filter((item) => {
                        return item.frequency.toString().indexOf(this.frequency_input) !== -1
                    })
                }
                return locations;
            }
        },
        methods:{
             updateLocations: function() {
                this.locations = this.stats.locations;
            },
        },
        mounted: function() {
            stats.$on('updateCy', (stats_data) => {
                this.stats = stats_data;
                this.updateLocations();
            });
        },
    }
</script>