<template>
    <div>
        <form>
            <input type="number" class="el-input__inner" v-model="frequency_input" placeholder="Enter frequency to filter..." />
        </form>
        <table class="table table-hover" ref="stats-phones">
            <thead>
            <tr>
                <td></td>
                <td>IMEI</td>
                <td>Frequency</td>
            </tr>
            </thead>
                    <tbody>
                        <tr v-for="item in filteredFrequency">
                            <td><i class="fa fa-phone"></i></td>
                            <td>{{ item.imei }}</td>
                            <td>{{ item.frequency }} calls</td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
 import { stats } from '../../index';
    export default {

        data: function () {
            return{
                phones:[],
                frequency_input: undefined,
            }
        },
          computed: {
            filteredFrequency () {
                let phones = this.phones;

                if (this.frequency_input) {
                    phones = phones.filter((item) => {
                        return item.frequency.toString().indexOf(this.frequency_input) !== -1
                    })
                }
                return phones;
            }
        },
        methods: {
          updateNumbers: function () {
              this.phones = [];

                for(var i in this.stats.phones) {
                    let phone = this.stats.phones[i];
                    if(phone.imei) {
                        this.phones.push(phone);
                    }
                }
            }

      },
      mounted () {

          stats.$on('updateCy', (stats_data) => {
               this.stats = stats_data;
               this.updateNumbers()
            });
      }
    }
</script>