{% load render_bundle from webpack_loader %}
{% load static %}
<html>
  <head>
    {% render_bundle 'main' 'css' %}
    <style>
        .wrapper {
            height: 100%;
        }
    </style>
      <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
      <script src="{% static 'js/cytoscape.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'simple-line-icons-master/css/simple-line-icons.css' %}"/>
      <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
      <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"/>
      <script src="{% static 'bower_components/d3/d3.min.js' %}"></script>
      <script src="{% static 'bower_components/cal-heatmap/cal-heatmap.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'bower_components/cal-heatmap/cal-heatmap.css' %}"/>
  </head>
  <body>
        <div id="app">
            <div class="row main-row">
                <div class="col-md-12 main-column">
                    {% include 'cdr/top_nav.html' %}
                    <div class="wrapper">
                        {% include 'cdr/left_bar.html' %}
                        <div id="content">
                            <div id="workspace" v-bind:style="{background: active_theme.workspace_background}">

                                {% block content %}
                                {% endblock %}

                            </div>
                        </div>

                        {% include 'cdr/right_bar.html' %}
                    </div>
                </div>
            </div>
        </div>
        <script>
            window.Django = {csrfToken: '{{ csrf_token }}'};
        </script>
    {% render_bundle 'main' 'js' %}
  </body>
</html>