<div class="sidebar left-bar" v-bind:style="{background: active_theme.sidebars_background, color: active_theme.text_color }">
    <nav class="sidebar-nav" v-bind:class="[ search_toggle ? 'active': 'notActive' ]">
        <ul class="nav">
            <li class="nav-item" v-bind:style="{color: active_theme.text_color, background: active_theme.accent_color }">
                <a class="nav-link" href="#" style="color: #fff"><i class="icon-magnifier"></i>Search and Filters</a>
            </li>
            <li class="nav-title" v-bind:style="{color: active_theme.text_color }">
                <el-button id="analyze-btn" @click="analyze" size="mini" type="success">Analyze</el-button>
            </li>
            <div class="search-holder" v-bind:style="{color: active_theme.text_color }">
                <form v-on:submit.prevent="search()">
                    <span class="search-title">Phone number</span>
                    <input type="number" class="el-input__inner" v-model="phone_number" />
                    <span class="search-title">Filters</span>
                    <div class="filters-section">
                        <el-select placeholder="Select" v-model="filterParam.item" clearable>
                            <el-option v-for="item in filterOptions" :key="item.value" :value="item.value" :label="item.label"></el-option>
                        </el-select>
                        <template v-if="['phone_number', 'cdr', 'imei', 'imsi'].includes(filterParam.item)">
                            <el-select :placeholder="filterParam.item" v-model="filterParam.value" filterable remote reserve-keyword :remote-method="recommend" :loading="loading">
                                <el-option v-for="item in filterResults" :key="item.name" :value="item.name" :label="item.name"></el-option>
                            </el-select>
                        </template>
                        <template v-if="filterParam.item === 'location'">
                            <el-input
                              v-model="locationFilter.latitude"
                              type="number"
                              placeholder="Latitude"
                              clearable
                            ></el-input>
                            <el-input
                              v-model="locationFilter.longitude"
                              type="number"
                              placeholder="Longitude"
                              clearable
                            ></el-input>
                            <el-input
                              v-model="locationFilter.radius"
                              type="number"
                              placeholder="Radius in meters"
                              clearable
                            ></el-input>
                        </template>
                        <template v-if="filterParam.item === 'date'">
                            <el-date-picker v-model="filterParam.value" type="daterange" placeholder="Pick a range" format="yyyy-MM-dd" value-format="yyyy-MM-dd"></el-date-picker>
                        </template>

                        <el-button type="primary" @click="search()" v-bind:style="{background: active_theme.accent_color}">Search</el-button>
                    </div>
                </form>
                <search></search>
            </div>
        </ul>
    </nav>
</div>
