<div class="sidebar right-bar"
     v-bind:style="{background: active_theme.sidebars_background, color: active_theme.text_color }">
    <div  v-bind:class="[ right_bar ? 'active': 'notActive' ]">
        <nav class="sidebar-nav" v-bind:class="[ detail_toggle ? 'active': 'notActive' ]">
            <ul class="nav">
                <li class="nav-item" v-bind:style="{color: active_theme.text_color, background: active_theme.accent_color }">
                    <a class="nav-link" href="#" style="color: #fff"><i class="icon-speedometer"></i> Call Details</a>
                </li>
                <call-details></call-details>
            </ul>
        </nav>

        <nav class="sidebar-nav" v-bind:class="[ sms_toggle ? 'active': 'notActive' ]">
            <ul class="nav">
                <li class="nav-item" v-bind:style="{color: active_theme.text_color, background: active_theme.accent_color }">
                    <a class="nav-link" href="#" style="color: #fff"><i class="icon-speedometer"></i> SMS Details</a>
                </li>
                <sms-details></sms-details>
            </ul>
        </nav>

        <nav class="sidebar-nav" v-bind:class="[ centrality_toggle ? 'active': 'notActive' ]">
            <ul class="nav">
                <li class="nav-item" v-bind:style="{color: active_theme.text_color, background: active_theme.accent_color }">
                    <a class="nav-link" href="#" style="color: #fff"><i class="icon-speedometer"></i> Centrality Analysis</a>
                </li>
                <centrality></centrality>
            </ul>
        </nav>

        <nav class="sidebar-nav test" v-bind:class="[ synspy_toggle ? 'active': 'notActive' ]">
            <ul class="nav">
                <li class="nav-item" v-bind:style="{color: active_theme.text_color, background: active_theme.accent_color }">
                    <a class="nav-link" href="#" style="color: #fff"><i class="icon-speedometer"></i> Device Lookup</a>
                </li>
                <synspy></synspy>
            </ul>
        </nav>

    </div>
</div>