
    <div class="" id="stats"
         style=" bottom: 0" v-bind:class="[ stats_toggle ? 'active': 'notActive' ]">
        <div class="down-toggle-div">
            <i style="text-align:right;" class="fa fa-angle-double-down" @click="statsBarToggle()"></i>
        </div>
        <div class="stats_wrapper">
            <div class="col-md-4 chart">
                <div class="chart-holder">
                    <h3 data-toggle="modal" data-target="#frequencyModal">Frequent Calls</h3>
                    <frequent_calls></frequent_calls>
                </div>
            </div>
            <div class="col-md-4 chart">
                 <div class="chart-holder">
                      <h3 data-toggle="modal" data-target="#phonesModal">Phones Used</h3>
                     <chart></chart>
                </div>
            </div>
            <div class="col-md-4 chart">
                 <div class="chart-holder">
                      <h3>Interaction HeatMap</h3>
                    <heatmap></heatmap>
                </div>
            </div>
        </div>
    </div>
     {% include 'cdr/stats_modals.html' %}


