<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" @click="searchBarToggle()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav d-md-down-none main-nav">
        <li class="nav-item d-md-down-none">
            <router-link :to="{name: 'graph'}" class="nav-link" style="background-image: url('/assets/images/network.png')">Graph</router-link>
        </li>
        <li class="nav-item d-md-down-none">
            <router-link :to="{name: 'map'}" class="nav-link" style="background-image: url('/assets/images/map.png')">Map</router-link>
        </li>
        <li class="nav-item d-md-down-none">
            <router-link :to="{name: 'sms'}" class="nav-link" style="background-image: url('/assets/images/sms.png')">SMS</router-link>
        </li>
        <li class="nav-item d-md-down-none">
            <router-link :to="{name: 'upload'}" class="nav-link"  style="background-image: url('/assets/images/upload.png')">Upload</router-link>
        </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <img src="/assets/img/avatars/fpo_avatar.png" class="img-avatar" alt="user">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <router-link :to="{name: 'cdrs'}" class="dropdown-item"><i class="fa fa-tasks"></i> My CDRs</router-link>
                <router-link :to="{name: 'settings'}" class="dropdown-item"><i class="fa fa-wrench"></i> Settings</router-link>
                <a class="dropdown-item" href="/accounts/logout"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
    <button class="navbar-toggler aside-menu-toggler" type="button" @click="rightBarToggle()">
        <span class="navbar-toggler-icon"></span>
    </button>
  </header>