.stats-modal{
  top: 25%;
  min-width: 50%;
  overflow-y: initial !important;
}
//.modal-body{
//    height: 350px;
//    overflow-y: auto;
//}

.dropup{
  width: 100%;
  button{
    width: 100%;
    height: 100%;
  }
  ul{
    width: 100%;
  }
}
.workspaceForm{
  height: 30px;
  margin-bottom: 1px;
  div{
    padding: 0;
  }
  input[type="text"]{
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #000000;
    display: inline-block;
    font-size: 11px;
    height: 95%;
    line-height: 1;
    outline: none;
    padding: 0 10px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
  }
  button{
    width: 93%;
    height: 95%;
    float: right;
    border-radius: 2px;
    color: #ffffff;
    background: #51a8d8;
    font-size: 16px;
  }
  p{
    font-size: 11px;
    color: red;
  }
}
.workspaceError{
  p{
    font-size: 11px;
    color: red;
    margin:0;
  }
}
.action-list{
  a{
    i{
      float: right;
    }
  }
  a:hover{
    i{
      color: red;
    }
  }
}

.mapper-modal {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.standard-holder{
  border-left: solid #d3d3d3 1px;
  h5{
    font-weight: 600;
    text-align: center;
  }
}
.headers-container {
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}
.drop-holder{
  border: solid #d3d3d3 1px !important;
    width: 100% !important;
    height: auto !important;
    margin: 3px !important;
    border-radius: 1px !important;
  p{
    top: auto !important;
    left: auto !important;
    right: auto !important;
    position: relative !important;
  }
}

.inst-holder{
  strong{
    font-weight: bolder;
    border-bottom: solid #d3d3d3 1px;
  }
}
.outlier-holder{
  border-right: solid #d3d3d3 1px;
  text-align: center;
  h5{
    font-weight: 600;
    text-align: center;
  }
  .draggable-main{
    border: solid #d3d3d3 1px;
    width: 100%;
    height: 35px;
    margin: 3px;
    border-radius: 1px;
      p{
      top: auto;
      left: auto;
      right: auto;
      position: relative;
    }
  }
}
.dropzone{
  .draggable{
    border: solid #51a8d8 1px !important;
    width: 80% !important;
  }
}

.date-input {
  .inputs-container .calendar {
    height: 20px !important;
  }
  .inputs-container .start-date, .inputs-container .end-date {
    font-size: 13px !important;
  }
  .pointer {
    display: none !important;
  }
}

.dropzone{
  .el-dialog__header {
    padding: 12px 20px 10px;
}
  .el-dialog{
    width: 40% !important;
  }
  .el-dialog__body {
    padding: 5px 20px;
  }
  .el-dialog__footer {
    padding: 1px 20px 10px;
  }
}

.leaflet-popup-content{
  p{
    line-height: 0.1 !important;
    margin: 10px 0;
  }
}
.filter-active {
  position: fixed;
  left: 5%;
  width: 65%;
  z-index: 1001;
  background: #FFFFFF;
  border: solid #c2cfd6 1px;
  height: 40px;
  .el-select {
    width: 100%
  }
  .el-date-editor {
    width: 100% !important;
    height: 100% !important;
  }
  button {
    width: 100%;
    height: 100%;
    background: #3a8ee6 !important;
  }
}
.filter-control, .leaflet-control-offline{
  a{
    i{
      margin: 7px 0 0 0;
    }
  }
}