.main-nav a {
    background-size: auto 23px !important;
    background-repeat: no-repeat !important;
    background-position: center 5px !important;
    padding-top: 25px !important;
}

#app{
    overflow: auto;
}
.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: $input-color;
    display: inline-block;
    font-size: inherit;
    height: 35px;
    line-height: 1;
    outline: none;
    padding: 0 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.el-input__inner:focus {
    border-color: #20a8d8;
}
.main-row{
  height: 100vh;
  overflow: hidden;
}
.main-column{
  height:100%;
  overflow: hidden;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar {
    padding: 0;
    background: $darkest-color;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-bottom: solid grey 1px;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar, #right_bar {
    min-width: 200px;
    max-width: 200px;
    background:$darkest-color;
    color: $font-color;
    transition: all 0.3s;
    border-right: solid #d3d3d3 1px;
}
#right_bar{
  border-left: solid #d3d3d3 1px;
}
.active {
    display: block;
}
.notActive {
    display: none;
}
.detailSeen {
   display: block;
}
.detailInactive {
    display: none;
}

#analyze-btn {
    display: none;
}

#sidebar .sidebar-header {
    background: $darkest-color;
    h3{
        font-size: 15px;
        margin-top:14px;
    }
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#content {
  padding: 0;
  min-height: 100%;
  max-height: 100%;
  transition: all 0.3s;
  width: 100%;
    position: relative;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
.toggle-btn{
  background: transparent;
  color: $font-color !important;
}
.toggle-btn:hover{
    color: $main-color;
    font-size: 21px;
}
.container-fluid {
  padding: 0;
}
#workspace{
    background: $darker-color;
    height: 100%;
    width: 100%;
}
.right-toggle-div{
    text-align: right;
    font-size: 16px;
    margin-bottom: 3%;
}
.left-toggle-div{
    text-align: left;
    font-size: 16px;
    margin-bottom: 3%;
}
.mini-sidebar{
    background: $darkest-color;
    color: $font-color;
    width: 30px;
}
i:hover{
    cursor: pointer;
}
.search-holder{
    padding: 3%;
}
.drag{
    div{
        cursor: pointer;
        margin-left: 10%;
        p{
            font-weight: 600;
        }
        p:hover{
            transform: fade_out(white,1);
        }
    }
}
#stats{
  width: 100%;
  height: 260px;
  position: absolute;
  bottom: 0;
  background: $darkest-color;
  color: #ffffff;
  overflow: scroll;
  transition: all .3s ease;
}
#stats::-webkit-scrollbar {
    display: none;
}
#stats.statSeen{
  display: block;
  transition: all .3s ease;
}
#stats.statsInactive{
  display: none;
  transition: all .3s ease;
}

.stats_wrapper {
        height: 100%;
    }
    .stats_wrapper .col-md-4 {
        height: 100%;
    }
    /*entities*/
    #stats-entities {
        right: 0;
        text-align: center;
        list-style: none;
    }
    .left, .center, .right {
        display: inline-block;
    }

    .left {
        float: left;
    }
    .center {
        margin: 0 auto;
    }
    .right {
        float: right;
    }
    .clear {
        clear: both;
    }
    /*locations*/
    #stats-locations {
        color: #000000;
        font-size: 12px;
    }
    #stats-phones {
        color: #fff;
        font-size: 12px;
        height: 150px;
        width: 150px;
    }
.chart-holder {
  #pie-chart {
    width: 180px !important;
    height: 170px !important;
    margin-left: 18%;
  }
}
    .chart{
        padding: 0 3px !important;
    }
    .chart-holder{
        background: #c0c0c0;
        border-radius: 5px;
        height: 100%;
        h3{
            text-align: center;
            background: #62c2de;
            border-radius: 5px 5px 0px 0px;
            font-size: 14px;
            padding: 1%;
            cursor: pointer;
        }
        h3:hover{
            font-weight: 800;
        }
    }
#graph {
    .dropzone {
        div {
            //width: 100%;
        }
        canvas {
            //width: 100% !important;
        }
    }
}
.el-input-number__increase {
  height: 93% !important;
}
.el-input-number__decrease {
  height: 93% !important;
}
.el-icon-plus {
  line-height: inherit !important;
}
.el-icon-minus {
  line-height: inherit !important;
}
#cytoscape{
    div{
        width: 100% !important;
    }
}

    .el-picker-panel {
        max-width: 194px;
    }

    .el-date-picker .el-picker-panel__content {
        width: auto !important;
    }

    .el-date-editor.el-input, .el-date-editor.el-input__inner {
        width: auto !important;
    }

    .filters-section > *:first-child{
        padding-bottom: 5px;
    }

    .filters-section button{
        margin-top: 5px;
    }

    .search-title {
        padding: 0.75rem 0.6rem;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .right-bar{
        border-left: 1px solid #202020;
    }
    .left-bar{
        border-right: 1px solid #202020;
    }